[2014-12-15 07:48] leafonsword opened #81 "support python3"
Python3 is the future of python,and using concurrent futures is very easy to write multiprocess、multithread tasks~

[2015-01-26 13:42] kmehkeri opened #89 "Output formatting attempts to apply to header row"
When I use '-O' option to output header it seems q attempts to apply formatting to it, causing exception.

[code]

Removing either '-O' or '-f' makes it work.

[2015-01-26 18:12] harelba commented on #89
Hi @kmehkeri,

Thanks for opening the bug. It is a bug. I've fixed it and pushed the fix into the master branch. It will be released as part of the next version.

In the mean time you can take the q executable from [here](https://cdn.rawgit.com/harelba/q/master/bin/q), or send me your email address and I'll send you the executable.

Please tell me if there are still any issues with the newer execu

[2015-01-27 10:25] kmehkeri commented on #89
It works fine now. Thanks for the quick fix and a great tool!

[2015-01-30 04:41] iambibhas opened #90 ""no such column" error even when the column exists"
This is an example of the data and the problem -

    ╭─ ツ /mnt/Works/klp/www/www_csvs 10:03AM ‹›
    ╰─$ ./q "select * from tb_school.csv limit 10";
    inst_id,boundary_id,inst_address_id,dise_code,inst_name,inst_category,institution_gender,moi,management,active
    29884,963,136131,,GLPS HARSOOR TANDA,Lower Primary,co-ed,,ed,2
    29566,8808,135433,AN0065,GOWRENAHALLI A,Anganwadi,co-ed,,ed,2

[2015-01-30 06:07] harelba commented on #90
Hi, you need to use `-H` in order to tell q that there is a header row, and also use `-d ,` to signify that that delimiter is a comma.

Please tell me if things still don't work for some reason.

[2015-01-30 06:37] iambibhas commented on #90
Ah. That works. Thanks @harelba.

[2015-01-30 06:37] #90 closed

[2015-02-17 17:11] maxharlow opened #92 "Output quoting doesn't work with newlines"
Example CSV:
[code]

Running:
[code]

[code]

So `testA` and `testC` quote correctly, but `testB` with its newline doesn't.

[2015-02-17 17:26] maxharlow opened #93 "Feature request: delimiter detection"
Would be nice not needing to specify `-d,` each time.

[2015-02-17 17:30] maxharlow opened #94 "Feature request: header detection"
I know Python's `csv` library does this, would be great to have here and remove the need to specify `-H` when there's a header row.

Additionally, there could perhaps be some logic that would turn on output headers `-O` if the input has them? There could be a parameter to override this behaviour, but it seems to me that such behaviour would be what you would want most of the time.

[2015-02-18 16:28] harelba commented on #93
+1 for this. You're absolutely right. I know it's annoying.

[2015-02-18 16:33] harelba commented on #93
Obviously, I will take a look at it to see how this can be done :)

[2015-02-18 16:35] harelba commented on #94
+1 for this as well.  Will take a deeper look.

The issue with adding -O automatically is related to backward compatibility. For example, if there are automated scripts which people created, then it might break them.

However, I do agree that it might be worth considering a breaking change in this aspect.

[2015-02-18 16:51] harelba commented on #92
You're right. It seems that the default "minimal" output wrapping format does not cover newlines...

You can use "-W all" in the mean time in order to get coherent output. I'll make sure to fix this as soon as possible.

Harel

[2015-02-18 17:41] bitti commented on #93
I want to point out that there is a conflict between the "don't be smart" predictable behaviour of unix tools and the "do what I mean" approach. I don't think we should conflate them and sacrifice one for the other, because then we wouldn't get the advantage of either. E.g. a DWIM tool could be a simple wrapper around q which calls it with the "right" parameters. In this way the fuzzy logic parts

[2015-03-09 20:40] dkvasnicka opened #95 "Number rounding destroying data"
When doing a select on a CSV that has a numeric column, "3873194.8699999987" gets rounded to "3873194.87".
Please prevent this or introduce a parameter to control it.
Thanks!

[2015-03-09 21:40] harelba commented on #92
@maxharlow Hi, can you please confirm that the workaround works for you? or is it?

[2015-03-09 21:51] harelba commented on #95
Hi @dkvasnicka

This is indeed an issue, and requires adding full support for decimal types.

I already have an intermediate temporary version which allows to force all column types to strings. This has been helpful in one related use case. However, it won't be helpful in your case, unless you're writing the output fields without any computation whatsoever.

If you want it, I'd be glad to send it

[2015-03-09 22:12] dkvasnicka commented on #95
Hi and thanks for the prompt response,

In this case I was writing the decimal fields without any computation but other whole-number fields were involved in some computation - so coercing all stuff into string isn't an option.

For now I've solved this using a custom script so this bug isn't a blocker for me.

[2015-03-11 15:59] maxharlow commented on #92
Yes that works -- thank you

[2015-03-16 20:21] dalemyers opened #96 "Feature Request: Enable writing out cached data for performance increase"
When dealing with large files, the queries can take a very long time. Being able to keep the created sqlite db on disk and then query it again would make this much faster for successive runs.

[2015-03-18 10:04] harelba commented on #96
Hi @Vel0x , sorry fro the late reply.

You're right, and I have plans to do this. I've made some preparations for this in the latest 1.5.0 version, and hopefully it will be part of the next version.

In the mean time, there is partial support for something which might help you - You can run multiple queries on the same command line and the data will be loaded only once:

`q "select .... from A" "s

[2015-03-18 15:40] Vel0x commented on #96
That sounds pretty awesome. I was planning on having a look into doing it my self this weekend, but it seems like you are already way ahead of me!

Thanks

[2015-03-20 08:38] ShinNoNoir opened #97 "Fails on CSV with large fields"
For CSV files with large fields, the following error message is displayed:

[code]

A solution is to increase the field size limit, [as explained here](http://stackoverflow.com/a/15063941/399990):

[code]

[2015-03-20 18:21] bitti commented on #97
What's more common? That someone really want's to read a CSV which such big fields or that one happens to read a CSV which is wrongly quoted and would rather prefer to get an error message?

[2015-03-20 20:19] ShinNoNoir commented on #97
In my case, it's because sometimes one of the fields can be very large. (I'm reading CSV files generated via the Amazon Mechanical Turk platform.)

At the very least, it'd be nice if the field size limit could be configured through a command line flag.

[2015-03-20 21:43] harelba commented on #97
Hi,

Checked the _csv C source code and it seems that there should no performance/memory impact for changing this. Also did some performance tests and it seems that there is no real impact.

However, there might be cross platform issues with sys.maxint, and @bitti is right that in most cases it's probably a delimiter issue and not a real field value.

I will catch this kind of error and issue a wa

[2015-03-21 07:42] ShinNoNoir commented on #97
@harelba: I'm not in an immediate need of a modified version, but thanks for the offer. Also, I'll see if I can produce some sample data. (I'll have to go over it and anonymize some fields.)

[2015-03-21 08:14] harelba commented on #97
@ShinNoNoir Thanks, if it's too much effort, then it's ok, i wanted to see it mainly out of curiosity.

[2015-03-25 08:25] Fil opened #98 "support for UTF-16LE encoding"
Some CSV files are encoded in UTF-16LE, so they can be correctly read by M$ Excel

But  `q` fails when reading them:
[code]

test file (zipped so that it's not re-encoded on the fly): http://fil.rezo.net/utf16le.csv.zip

[2015-03-25 08:32] Fil commented on #98
[code]

As you can see utf16-le has a two-bytes BOM. Skipping it (as with utf-8) does not solve the problem.

[2015-03-25 08:49] Fil commented on #98
For the record if I process it through iconv first, it works:
`iconv -f UTF-16LE -t UTF-8 utf16le.csv | awk 'NR==1{sub(/^\xef\xbb\xbf/,"")}1' | q -H -t "select uid from -"`

[2015-03-26 08:02] harelba commented on #98
Hi @Fil , sorry for the late reply.

Thanks for opening this. It does seem like a problem. I'm investigating.

[2015-03-26 08:22] harelba commented on #98
It's due to a bug in python's csv module. It doesn't support encodings, and the standard way that python suggests to override it does not support NULs (q follows this suggestion currently).

I've seen some ideas on how to overcome this, but I need to check them out, to see not only that they are working, but whether or not they impose a significant performance penalty.

I'll take a further look an

[2015-03-26 08:30] Fil commented on #98
Thank you @harelba. I'm fine with using iconv, was just reporting this
issue as a suggestion for the project.

Maybe q should not be responsible for wild charset conversions, but detect
such cases and offer instead an error message with useful suggestions -- or
just open a pipe to iconv?

-- Fil

On Thu, Mar 26, 2015 at 9:22 AM, Harel Ben-Attia <notifications@github.com>
wrote:

[2015-04-25 23:14] yahelc opened #100 "Feature request: REPL/client"
First off, thanks for creating `q`. It's wonderful.

One thing that seems like it would be really useful is if there was a REPL that allowed you to pass the SQL directly, and not just as a quoted argument to the program:

e.g:

[code]

[2015-04-26 04:52] harelba commented on #100
Thanks a lot! I'm glad you find q useful.

I've already started working on a REPL, and it will come out in the next version of q.

Part of its features is that it will be able to reuse already-loaded data, so multiple queries on the same data would be immediate. The underlying API for supporting that has already been implemented in version 1.5.0.

Any additional input would be most welcome,
Harel

[2015-05-03 21:31] jungle-boogie opened #101 "FreeBSD support needed"
1. I modified to q file to point to python3. Is that bad?

2. Doesn't work on freeBSD:

[code]

[2015-05-04 07:55] kAlmAcetA commented on #101
only python 2.x > http://harelba.github.io/q/requirements.html

[2015-05-15 10:53] harelba commented on #101
Hi @jungle-boogie , sorry for the late reply,

only python 2 is supported for now. I haven't checked how far the incompatibility goes, perhaps I'll be able to take a look before releasing the next version, and see if I can make it compatible with python 3 without breaking stuff.

Harel

[2015-06-12 03:00] knightwu opened #102 "can not select from subquery"
the query is listed below:
[code]
It turns out that q recognize the subquery as a file and give me the error
`File ( has not been found`

[2015-06-12 04:36] bitti commented on #102
Just nest it like this:

    q "select * from "<(q "select * from ./tmp.txt")" a"

[2015-06-13 14:54] harelba commented on #102
Hi,

Subqueries are supported currently only in the where clause.

@bitti 's solution (Thanks!) solves the problem using standard linux bash - The <(cmd) contruct tells bash to run this command, and replace it with a temporary filename (actually a file descriptor) which will contain the data.

If you're still having any issues, please contact me.
Harel

[2015-06-13 14:56] harelba commented on #102
Closing this one as it's a subset of #12

Fixes regarding it will be notified in #12.

[2015-06-13 14:56] #102 closed

[2015-06-30 12:22] harelba opened #104 "Add support for universal newlines while parsing"

[2015-07-30 00:49] chuanconggao opened #105 "Empty line generated if quoting = none and last cell ends with \"
[code]
[code]

[2015-08-01 16:25] harelba commented on #105
Hi @chuanconggao sorry for the late reply, been on a vacation.

Thanks for notifying on this, I'll take a deeper look.

Harel

[2015-08-04 06:30] jungle-boogie commented on #101
Hello,

Using the single file, I'm able to use the cool script. I'd rather you focus on improving what you know rather than checking incompatibilities. ;)

Thanks!

[2015-08-04 06:30] #101 closed

[2015-08-04 18:53] jungle-boogie opened #106 "file parameter wrong"
Hello,

    q
    q version 1.5.0
    Must provide at least one query in the command line, or through a file with the -f parameter

Notice that it says -f

But passing this `q -H -d, -f test` doesn't return what we need.

This website: http://harelba.github.io/q/ reports we actually want to use `-q test`

https://harelba.github.io/q/usage.html

    -q QUERY_FILENAME, --query-filename=QUERY_FILENAM

[2015-08-08 08:27] harelba commented on #106
fixed on master.

Will close it when the new version is released.

Thanks a lot @jungle-boogie for finding and help with this!

[2015-08-08 10:02] garethrees opened #108 "Can't parse file: Bad header row"
My CSV is valid according to http://csvlint.io/validation/55c5d2646373760e9f00002b

[code]

Here's the CSV:

[code]

[2015-08-08 10:08] garethrees commented on #108
Sorry, being an idiot. Didn't realise the default delimiter was space. Also passing `-H` and using the non `-H` header name.

[2015-08-08 10:08] #108 closed

[2015-08-08 11:53] harelba commented on #108
No problem @garethrees , happens to me once in a while as well :)

btw, a useful parameter might be to use `-A` to see the column names and types:
[code]

[2015-08-08 11:54] harelba commented on #108
note that sqlite (and q) will require you to wrap your field names with a backtick, similar to the output above, in cases where a space is part of the column name.

[2015-08-08 12:16] garethrees commented on #108
Ah thats really helpful. Cheers! :beers:

[2015-08-08 13:08] jungle-boogie commented on #106
Hi @harelba,

Thank you for correcting!

[2015-08-08 13:08] #106 closed

[2015-08-19 02:43] knightwu commented on #102
That solution can not solve the problem like this:
"select avg(a.cost) as 19_cost, avg(b.cost) as 0_cost, avg(a.qcost) as 19_qcost, avg(b.qcost) as 0_qcost from
(select c37 as url, avg(c3) as cost, avg(c10) as qcost from 19.csv group by url) a
join
(select c37 as url, avg(c3) as cost, avg(c10) as qcost from 0.csv group by url) b on a.url == b.url where a.cost > b.cost"

Any Help?

[2015-08-19 05:12] bitti commented on #102
You can use `-O` for output headers and `-H` for input header detection:

[code]

Btw. `19_cost` etc are not valid qualifiers since they start with a number.

[2015-08-19 07:54] harelba commented on #102
@knightwu - @bitti 's solution (thanks!) should be working well.

Please note that if you already have column names which start with a number, such as ````19_cost````, you can use them by wrapping the column names with backticks (Identical to sqlite's way of escaping identifiers). Be aware, though, that in order to pass backticks to q, you'd need to use single-quotes around the query itself and no

[2015-08-23 01:38] zaxebo1 opened #109 "please port it to python3"
Almost all the python packages have been ported to python3
Arch is already running fully on python3 as python default.
and Fedora 23 is having python3 as default python.
Ubuntu 16.04 LTS also will have python3 as default python. Meaning the last bits of remaining python2 exclusive code of OS is being ported.

---

Now, If i run q on my ArchLinux, only this tool will be using python2; which seems v

[2015-08-23 02:55] jungle-boogie commented on #109
:+1:

[2015-08-23 19:33] harelba commented on #109
@zaxebo1 Thanks for the information. I didn't know about six - I'll take a look and try to integrate it in the next version.

[2015-08-24 04:25] zaxebo1 commented on #109
probably these will link will be also of some use use to you :

http://python-future.org/compatible_idioms.html   (Very important)

http://python-future.org/

https://docs.python.org/2/library/2to3.html

[2015-08-24 22:14] alexmhurst commented on #104
I believe this is fixed in my PR: https://github.com/harelba/q/pull/110

[2015-10-20 09:15] NDevox commented on #109
What are the main roadblocks leading to this? I'm interested in helping if possible.

[2015-10-28 08:19] jitbit opened #112 "Feature request: specifying a "comment" symbol (ignore lines starting with it)"
When analyzing/querying webserver log files it would be great if I could specify that "lines starting with an # symbol should be ignored", meaning that "#" is a "comment" symbol. Know what I mean? I hope I make myself clear... :))

[2015-10-28 18:32] bitti commented on #112
why would you want that in `q` when you just can pipe your input through `sed '/^#/d'` therefore keeping the tools orthogonal according to UNIX philosophy?

[2015-10-28 19:00] jitbit commented on #112
Because I'm on windows ;)

[2015-10-31 10:10] harelba commented on #112
Hi @jitbit , sorry for the late reply.

q supports standard SQL comments (it actually supports all sqlite constructs, so you can just search the net for sqlite stuff as needed).

This means that you can embed comments inside the queries using "/*...*/" and using "-- .... \n" syntaxes.

@bitti thanks :)

Harel

[2015-10-31 10:10] #112 closed

[2015-10-31 10:54] jitbit commented on #112
I don't want comments inside queries. I want to IGNORE SOME LINES IN THE FILE.

[2015-10-31 11:01] harelba commented on #112
ah... I see :)

Need to think about it. Adding special semantics above the layer of the SQL itself can be a rabbit hole, but I won't say that there can't be any exceptions.

The standard way to achieve something like that without resorting to preprocessing such as sed, would be to add another condition to the WHERE part of the sql (something like "WHERE c1 not like '#%'"). That would do the trick.

[2015-10-31 15:39] jitbit commented on #112
Oh, yeah, right, probably you are right, "WHERE" will work, but usually the "column" structure inside a commented line is badly formatted...

PS. One of the reasons its a great idea is that typically log files (which I'm sure is 70% use case with your app) have some sort of commenting. Anyways, thanks for an awesome product.

[2015-10-31 20:37] bitti commented on #112
I don't know how windows is bearable without cygwin, but even stock-windows can do something trivial like filtering a text file by a pattern: https://technet.microsoft.com/en-us/library/bb490907.aspx.

[2015-11-01 10:11] harelba commented on #112
@jitbit Thanks for the kind words. You're right about the issue with the comment's formatting. I actually don't usually see logs with comments in them, but perhaps it's just bias from my regular day job stuff.

In terms of parsing wrongly-formatted rows such as comments, q does provide "relaxed" mode (which is actually the default in order to be able to easily handle output from many linux command

[2015-11-01 10:49] harelba commented on #109
@NDevox sorry for the late reply.

The real block is making sure that the distribution logic remains compatible and working properly after the changes.

[2015-11-02 08:58] NDevox commented on #109
You have tests covering that right?

[2015-11-02 09:23] zaxebo1 commented on #109
@NDevox:    +1

[2015-12-03 05:13] ryanmjacobs opened #114 ""Crashes" when conditions don't match any rows."
For example, if I have a table like this:

| id | age |
| --- | --- |
| 1 | 78 |
| 2 | 45 |
| 3 | 25 |

I get a messy error when trying to query for an age that is _not_ in the table.

[code]

[code]

Would it be possible to catch this error and not print anything? — like in other SQL tools?

Or even something simple like this?

[code]

[2015-12-03 11:13] harelba commented on #114
Hi @ryanmjacobs - This is supposed to be fixed, and I can't get this error in the latest version 1.5.0.

[code]

Which version are you using? (````q --version````)

[2015-12-03 15:02] ryanmjacobs commented on #114
Hi @harelba, thanks for the quick reply.

I just checked `q --version` and it says that I am on v1.5.0.
However, I just cloned the master branch and ran `bin/q` instead — that worked fine.

[2015-12-03 21:17] mikaelgrave opened #115 "Improper double-quote escaping in output"
My input is CSV, with some fields containing double-quotes. See below:

[foo.csv](https://github.com/harelba/q/files/51348/foo.txt)

I run the following command:

`q -H -O -d , -W all 'select * from foo.csv'`

Here is the output:

[out.csv](https://github.com/harelba/q/files/51352/out.txt)

As you can see, the email address on row #2 is improperly escaped:

`"Male","Tom Gray"@mylobbylink.com"","CE

[2015-12-06 11:55] harelba commented on #115
@mikaelgrave Hi, sorry for the late reply, I'm out on vacation.

I'll take a deeper look and update here.

Harel

[2015-12-06 17:57] harelba commented on #115
@mikaelgrave Indeed an important bug, thanks a lot!

Fixed it, but the issue implicates a bug in one of the tests as well (meaning that the change will break current behaviour), so I wanna test it some more before checking it in.

If you're not on Windows and want the un-checkedin version, ping me over email harelba@gmail.com and I'll be glad to send it to you in the mean time.

Harel

[2015-12-06 17:58] harelba opened #116 "Test breaks when running on a Mac"
The test `test_column_formatting_with_output_header` fails when running on a mac machine, due to sed incompatibility (POSIX vs GNU sed).

Already fixed but not checked in. Will be closed when releasing the next version.

[2015-12-06 18:00] harelba commented on #115
btw, if there's anyone who would be kind enough to test the modified version on their stuff, just to make sure that nothing important is broken, I'd be glad to provide it.

[2015-12-06 20:26] mikaelgrave commented on #115
@harelba Thanks a lot! I'll gladly test it. I've just emailed you.

[2015-12-07 10:31] harelba commented on #115
@mikaelgrave - Sent over email. Thanks a lot!

[2015-12-07 12:06] harelba commented on #114
Sorry for the inconvenience.

I'll take a look.

[2015-12-08 08:36] harelba commented on #115
Fix integrated into master.

Thanks @mikaelgrave for finding the problem and helping to test the fix!

[2015-12-08 08:37] harelba commented on #116
Fixed in master. Will be closed once a new version comes out.

[2015-12-08 08:41] harelba opened #117 "Empty fields quoting issue with ````-W all````"
Reported by @mikaelgrave :

Empty fields are sometimes not enclosed within double quotes even when -W all is specified.

Example (qtest.csv):
[code]
Output
[code]

Third line misses the quoting for the empty value, last line quoting is good for the empty value.

[2015-12-08 13:53] mikaelgrave commented on #115
Thanks @harelba for fixing this so quickly.

[2015-12-14 13:23] llagerlof opened #118 "Auto-detection of commas in column names"
I have this "people.csv" file:
[code]

If I try to run the command below, an error is raised.
[code]

However, this command works:
[code]

Well, if a CSV file is, by default, comma separated, q should identify the first row as comma separated too, I think.

Thanks!

[2015-12-14 16:16] bitti commented on #118
Even though the term "CSV" comes from "Comma Separated Values" the file extension "csv" doesn't define the delimiter. From https://en.wikipedia.org/wiki/Comma-separated_values:

That's also the reason you have to specify the delimiter when you import a .csv into a spreadsheet application.

[2015-12-14 17:13] llagerlof commented on #118
I understand this, thanks.

But then the -d parameter should be always mandatory. Maybe q could raise an error or warning if the user not specify it.

[2015-12-14 17:18] bitti commented on #118
That being said: there is already a feature request for automatic delimiter detection (https://github.com/harelba/q/issues/93). Even though I argued against it I guess it would be fine to have an explicit flag to have at least a detection for the most simple cases.

[2015-12-14 17:27] llagerlof commented on #118
Ok. I think I can live with the always-present -d option.

And I will wait this automatic delimiter detection. Thanks.

[2015-12-14 17:31] llagerlof commented on #93
+1. Nice idea. This q tool is already a must-have, but this feature would be awesome!

[2015-12-15 13:17] harelba commented on #118
Hi all sorry for the late reply, I'm on a long vacation in south east Asia and Internet here is intermittent :)

Anyway, I'll probably implement the automatic delimiter detection right after I come back from the vacation, shouldn't be too hard. The original reason for space being the default delimiter was actually because many Linux tools output their table-like data using spaces, and I didn't wan

[2016-01-23 08:46] harelba opened #119 "Need some indication when -t overrides -d and -T overrides -D"
The -t shorthand parameters override specific -d delimiter setting without issuing any indication. This might lead to confusion. Same for output delimiters.

A warning needs to be added in such case, or even failing to run the command.

[2016-01-26 12:37] harelba opened #120 "Field formatting using -f needs to be more robust"
Failures in field formatting might lead to tracebacks instead of well defined error behaviour.

[2016-02-18 15:38] mmascolino opened #121 "MemoryError() using Windows version with large files"
On 64bit Windows box with 64GBs of RAM I am working on a 1.8 GB csv file that has about 15 million rows of data.  Even running a simple:
`q "SELECT COUNT(*) as cnt FROM mylargefile.csv" -d "," -H`
is resulting in a MemoryError()

Am I doing something wrong or is there a serious limitation here?

[2016-02-19 20:57] ernestohs commented on #114
I have the same problem, in my case I don't have a header, the file size is ~9.1 MB and I can't find the "issue" on my data; I did the same as @ryanmjacobs and the version 1.6.0 works for me.

[2016-02-23 12:35] harelba commented on #114
hi sorry for the late reply.

@ernestohs thanks for the input - this means that the fix is working well... great :)

[2016-02-23 12:38] harelba commented on #121
Hi sorry for the late reply, i'm on a long vacation...

There is a limitation on the data size that q can process in that case, since on windows it is currently packages with the 32 bit version of python.

I'm working on an experimental version which will be using Apache Spark behind the scenes and will allow to work around this kind of limitation (and provide much more speed in many use cases). O

[2016-02-23 14:58] mmascolino commented on #121
Thanks for the response.  I'd be happy to test something once you have something ready.  Just let me know.

[2016-03-07 22:30] nduc opened #122 "Continue if there's empty data file in a batch"
q -H -d , "select \* from *.csv"
If there is a file with only header and no data, the process failed with "Warning - data is empty"

[2016-03-08 07:11] harelba commented on #122
This indeed seems like a bug, since it's only meant to be a warning thrown to stderr, and not fail anything.

I'll dig into it.

Thanks a lot @nduc !

[2016-03-08 10:44] harelba commented on #122
Fixed in master. Will go out as part of the next version.

@nduc I'd appreciate it if you could download the master version and check that it works for your use case. Please send me information here or through email if there are still any issues.

btw, it turns out that this exposes another issue in which q was not issuing an error even if the file was completely empty (e.g. the actual header is m

[2016-03-08 10:45] harelba commented on #122
Reopened until it will go out in the next official version (Didn't mean to close it - the checkin did that automatically).

[2016-03-08 18:26] nduc commented on #122
@harelba I've rebuild and tried running it but I'm getting an error
λ q -H -d , "select * from *.csv"
Traceback (most recent call last):
  File "<string>", line 53, in <module>
TypeError: limit must be an integer
q returned -1

Am I missing a library?

[2016-03-08 18:31] harelba commented on #122
It seems related to the python version you're using. q requires python 2.6+

Can you check the python version you running?

btw - Which OS are you running on?

[2016-03-08 18:31] harelba commented on #122
also - python 3 is not supported yet, perhaps it might be related as well.

[2016-03-08 18:32] nduc commented on #122
I am using Python 2.7.11 on Windows 10
λ python --version
Python 2.7.11

[2016-03-08 18:43] harelba commented on #122
Interesting - Is it a 64 bit system?

Also, please tell me what do you mean "rebuild" q? How do you run it?

Run python REPL, and inside it run:
[code]

I suspect it might be related to the fact that it's a 64 bit installation (When I provide q.exe on windows, it's compiled with the python 32 bit binaries, regardless of the target OS 32/64 bit configuration).

Several options:
1. Hack the q python

[2016-03-08 19:15] nduc commented on #122
Harel, please, you have saved me many hours already.  It's the least I can do.
I am on Windows 10 64 bit Home edition.
By rebuild, I mean I followed the instruction in Create Windows Setup Instruction in the dist folder.

I've replace sys.maxsize with 131072 and I got an error
λ q -H -d , "select * from *.csv"
query error: table temp_table_10001 has no column named c1

Python 2.7.11 (v2.7.11:6d1b6

[2016-03-08 21:16] nduc commented on #122
I started from scratch and made sure all my installs were 32 bit and I get a different error now.
λ q -H -d , "select * from *.csv"
query error: table temp_table_10001 has no column named c1

[2016-03-08 22:42] harelba commented on #122
Hi, thanks a lot for the input.

I'll be near my computer tomorrow morning Israel time, and take a deeper look.

I suspect that these issue is addressed through the vagrant instance that I'm using in order to create the build.

[2016-03-08 22:45] harelba commented on #122
Btw, I have an idea that it might be related to a small issue in the fix I introduced today... As I mentioned, I'll take a look at it first thing in the morning.

Harel

[2016-03-10 12:24] schlauergerd opened #123 "Multiple files in FROM-clause"
The following two commands work:
- `q "select * from file1 f"`
- `q "select * from file1 f join file2 g"`

But the command `q "select * from file1 f, file2 g"` produces an error: `query error: no such table: file2`

If the second file/table is in an other directory, I get a syntax error. `q "select * from file1 f, dir/file2 g"` produces `query error: near "/": syntax error`

[2016-03-14 08:52] harelba commented on #123
Hi @schlauergerd , sorry for the late reply.

q follows the sqlite syntax, which does not support short-from joins. The way to write it is using the "cross join":

[code]

Please tell me if you still have any issues.

Harel

[2016-03-14 08:56] harelba commented on #122
Sorry for the late reply.

It seems like a deeper thing, I'll have to continue my investigation. Sorry for the inconvenience

Harel

[2016-03-14 16:53] schlauergerd commented on #123
Joins work as they should, so this issue can be closed.

Thanks

[2016-03-14 16:53] #123 closed

[2016-03-14 19:27] harelba commented on #123
Thanks @schlauergerd !

[2016-03-28 22:34] anthezium opened #124 "CTE not working"
This should work, right? (emails.csv is there, works with other queries)
q -d, -H "WITH alias AS (SELECT * FROM ./emails.csv) SELECT * FROM alias"

Instead, I get:
No files matching 'alias' have been found

Do I need to do something special to let it know that the alias is an alias?

[2016-03-28 22:35] anthezium commented on #124
q version 1.5.0
Copyright (C) 2012-2014 Harel Ben-Attia (harelba@gmail.com, @harelba on twitter)
http://harelba.github.io/q/

[2016-03-30 23:39] jungle-boogie commented on #124
Does sqlite3 depend on q having support for CTE? If so, maybe q was made prior to CTE's in sqlite3.

[2016-04-02 12:11] harelba commented on #124
Hi, sorry for the late reply, i'm on a long vacation...

Most sqlite capabilities are exposed through q without any special needs. However, CTE is not one of them. I'll take a deeper look and see if it's possible to add it.

Thanks
Harel

[2016-04-02 17:42] anthezium commented on #124
Thanks for getting back on this!

The query works in sqlite3, so if you decide not to add CTEs (at least in the near term), you could just change this sentence on the site:
"All sqlite3 SQL constructs are supported, including joins across files (use an alias for each table)."

And add stuff to the "Limitations" section.

[2016-04-03 07:53] harelba commented on #124
Of course, i'll definitely add this to the limitations if I can't come up with something good.

[2016-04-27 20:02] rsalmei commented on #114
It's the `-HO` that crashes it...
If you run just `q -H "select * from file1 where age = 26"` it doesn't crash indeed, but `q -H "select * from file1 where age = 26"` does.
Version 1.5.0 installed by homebrew. Could you fix it please?

[2016-04-30 11:06] harelba commented on #114
@rsalmei Hi, sorry for the late reply, I'm on a long vacation mostly offline.

I'm not sure I can understand the original problem yet. I'm using version 1.5.0 myself on a mac and it doesn't crash even with the `-HO`. Can you please send me "file1" over email so I can check? Please send it zipped so gmail won't modify it or anything.

Thanks
Harel

[2016-05-16 18:21] rsalmei commented on #114
Just do:
[code]
And you get:
[code]

[2016-06-24 07:06] dclong opened #125 "randomly sample 100 rows"
Can q randomly sample rows/records? If so, what's the syntax like?

[2016-06-24 09:50] harelba commented on #125
the syntax is matching sqlite, so you can do the following in order to get random records. Take into account that this is not a light operation if dealing with very large files.

```seq 1 1000000 | q "select * from - order by random() limit 5"```

Don't hesitate to contact me if you need more assistance.

Harel

[2016-06-24 09:50] #125 closed

[2016-06-24 17:24] eddified opened #126 "TypeError('sequence item 0: expected string, NoneType found',)"
Running q against my specific input file (using any simple query) results in this strange error. The error does not seem to be caused by any particular row -- deleting either the first _or_ the last data row (i.e. not including the header), or any row in between, causes the error to no longer occur. The entire file, however, when used as input, will result in this error message. Removing just the

[2016-06-24 18:12] bitti commented on #125
If you don't care (or know) about the exact number and just want to have a certain fraction you also could do something like this (here with a sample rate of about 1%):

    seq 1 1000000 | q "select * from - where random() % 100 = 0"

That's also slightly faster in my measurements.

[2016-06-27 14:36] DanielAnderson opened #127 "Use of API on Windows"
Hi @harelba - this is a great project.

Once question I have is how to use the API on Windows. I cloned the repository, went in to bin/, and ran
`> python`
`>>> from qtextasdata import QTextAsData`

I got the output:
`File: "...\q\bin\qtextasdata.py", line 1, in <module> q`
`NameError: name 'q' is not defined`

Am I using the API incorrectly?

[2016-07-06 11:35] dclong commented on #125
Thank you, Harel and David! This is very helpful!

[2016-07-19 12:47] Flimm commented on #98
I have the same issue, and I could invest the time needed to fix it if you want.

[2016-08-03 19:26] dclong opened #128 "Ordering of rows"
Does q preserve the original order of rows if no sorting (order by) is applied?

[2016-08-04 18:49] harelba commented on #128
Yes, it's supposed to (semantics is identical to sqlite), however, I haven't tested for this thoroughly.

You can force querying by the order of insertion by adding an `ORDER BY ROWID` if needed (similar to sqlite).

[2016-08-05 11:43] dclong commented on #128
Great, thanks a lot!

[2016-08-05 11:53] #128 closed

[2016-09-13 15:59] markmsmith opened #131 "[Bug] -b flag fails when no results match query"
Hey, thanks for this awesome tool, it's made my life much easier.  Just thought I'd let you know about the following issue when you try to use the `-b` flag.

With the input files
test1.csv:

[code]

test2.csv:

[code]

If you run the following query:
`q -HOb -d, "select a.heading1, b.heading2 from ./test1.csv a join ./test2.csv b on a.heading1 = b.heading1"`
You should get no results, since the v

[2016-10-05 11:56] marcobra commented on #119
I agree i spent about an hour to get a pipe delimited file working was the -t param was the issue
it kill the -d delimiter param with no warning or doc about it:

q -d "|" -H "select cnum,canno,de_nome,de_recapiti,impo_2016 from ./myarchive2016.psv where de_nome like '%scu%' limit 3"

works

[2016-10-05 13:35] svenXY opened #132 "-b -D'|' not applied to -O header line"
Hi,

using something like `q -O -b -D'|'`  together does not seem to beautifully format the header line together with the other lines

[code]

yields

[code]

[2016-11-03 07:56] swsien127 opened #133 "Unions"
Hi, just a quick question on whether q can support union clauses.

[2016-11-03 08:15] harelba commented on #133
Hi @swsien127

Yes, q supports unions. In general, all sqlite3 constructs are supported. See example below:

[code]

[2016-11-03 08:15] #133 closed

[2016-11-03 11:46] harelba commented on #126
@eddified Sorry, missed that issue a while back. Probably not relevant anymore, but just for completeness and for other people.

The root cause of this is that the last line contains a malformed field content in terms of double-quoting - Seems that the `rm_html_file_name` field contains a partial json, and hence partial escaping of double-quotes. This causes q to misdetect the column types and the

[2016-11-03 11:46] #126 closed

[2016-11-03 15:32] eddified commented on #126
Thanks!

[2016-11-06 17:54] harelba commented on #132
@svenXY sorry for the late reply - True, it's a bug, I've fixed it and pushed into master. Will close this issue when version 1.6.0 is officially out.

[2016-11-07 15:54] svenXY commented on #132
Cool. Thanks for fixing it.

[2016-11-16 06:03] chenholmes opened #134 "Integer output Scientific Notation"
Hi:
   I have a column like 1000247787770076600034, and it output 1.00024778777e+21.
   How can I output the column as a string?
Thank you.

[2016-11-17 07:09] harelba commented on #134
Sorry that i don't have a proper solution for this - q supports integers up to 2^63 (similar to sqlite). Numbers higher than that are treated as doubles, and hence are displayed as such.

The master branch's latest contains an additional parameter `--as-text`, which makes q treat all fields as text - You can download and use this version with this parameter and see if it can help with your specifi

[2016-11-17 08:29] chenholmes commented on #134
--as-text is helpful for me,thank you.

[2016-11-28 10:02] hazemkmammu opened #135 "Escaping dynamic queries as string literals"
For example, the query

throws the error : file dictionary cannot be found. Is there a way to escape a string literal so that it isn't processed as a query? Thanks.

PS: 'name' and 'query' are column names in the file 'queries.csv'

[2016-11-28 11:14] harelba commented on #135
Hi @hazemkmammu

You're right of course, it's a bug. I'm sorry but I don't have a quick solution for it - It's directly related to #12 , for which I haven't found a proper solution yet.

The number of issues related to #12 was quite low in terms of impact on existing users, so I haven't invested enough time in finding a good enough solution. However, your use case exposes the problem to the fulles

[2016-11-28 11:52] hazemkmammu commented on #135
Thank you very much

[2017-01-20 04:36] mahiki commented on #94
this is an interesting idea, since it warns about a suspected header row if you don't use `-H`.

I'd like to add to this issue with an overlapping concern:

*I want to refer to columns with `c1, c2, ..., cN` while using `-H` to disregard the header row*

The reason is that I often receive a file with spaces in the header row column names, for example this tab-delimited file:
[code]

#### my proble

[2017-01-20 06:10] bitti commented on #94
Use single quotes for the outer quotes and replace inner single quotes with double quotes. That prevents shell evaluations. E.g.

    $ q -Ht 'select xsan from datafile.txt where `Product Group Description`="gl_boss"  limit 5'
    A00KI83

[2017-01-21 21:28] harelba commented on #94
@mahiki regardless of the nice suggestion of mixing between c1..cN and still using the -H, please see @bitti 's solution for the example you've written. When using double-quotes, linux still executes backtick-enclosed code, but using single-quotes, linux will not bother you with it. Using single-quotes would require, though, using double-quotes inside the query itself, or escaping any single-quote

[2017-01-27 21:19] ajmazurie commented on #96
I am revisiting this issue. I have GB to TB-sized CSV files I'd like to slice and dice using **q**, and would like to save the intermediate `sqlite` data object as a file for further processing. Best, Aurélien

[2017-01-30 10:40] EwanSadie opened #138 "Unicode character encoding"
I used sample data from https://support.spatialkey.com/spatialkey-sample-csv-data/
Under Company Funding Record (TechCrunchcontinentalUSA.csv)

I had to change the <cr> to <cr><lf> first in the text file. I do not know what to pass to the command to get this working.

I do a basic select and get the following
q -d "," -H "select company,numemps from ./TechCrunchcontinentalUSA.csv"

Cannot encode d

[2017-01-30 20:47] harelba commented on #138
This is interesting, it's related to the fact that q doesn't support universal newlines.

The root reason is the fact that rows are delimited by \r (0x0d) instead of being delimited by \n (0x0a). With universal newlines support, this would have been dealt with ok. However, it would mean  trouble in terms of supporting multiple encodings, and in performance.

One workaround, if you're using linux,

[2017-01-31 08:23] sweentown opened #139 "feature request: make `FROM -` optional when stdin is not a tty"
Excellent tool!  If I can make one suggestion, please make the `FROM -` optional when reading from standard input and the stdin is not a tty.  For example:

[code]

It should be obvious from context, since you are piping data into stdin, that the data is coming from the standard input.  Even though it's only 7 extra characters it feels unnecessary

[2017-02-01 05:39] mahiki commented on #94
Thanks @bitti !

I was using double quotes because of the readme examples, is there any reason those are `"`  instead of `'`?

[2017-02-01 09:24] bitti commented on #94
Sometimes shell evaluations is what one wants. But it can be argued that in this case the user probably knows what he or she is doing and should know when double quotes are appropriate. So maybe using single quotes for the readme examples would be better?

Btw. you even can use shell evaluations when using single quoted strings, just by simple concatenation. E.g. let's say you want to filter `week

[2017-02-01 10:12] serima commented on #139
I understand what you want to say, but in SQL, SELECT and FROM are always paired.
If q is designed based on sql, `FROM -` seems to be essential.

[2017-02-01 10:37] harelba commented on #94
thanks @bitti that's true, I will change the examples to single quotes.

[2017-02-01 10:40] harelba commented on #139
Thanks for the proposal @sweentown . However, I tend to agree with @serima that the pairing is better, and the cost of it is minimal. This might lead to complications in more complex queries, such as when joining stdin with some other table, and would require "tricks" in order to do right. The cost of optimizing for the simplest case is relatively high vs the benefits in my view.

[2017-02-01 11:01] serima commented on #131
I installed q via homebrew.

[code]

Reproduced it.

[code]

Then I cloned this repo and tried same thing.

[code]

This bug seems to be fixed in Ver 1.6.0. this commit? https://github.com/harelba/q/commit/a053b815312c0d8eadf6f42b47ddd6edbe1e4fb8

[2017-02-01 18:39] sweentown commented on #139
@serima I wasn't aware that FROM was required in SQL.  MySQL grammar, for example, specifies that the FROM clause is optional:

https://dev.mysql.com/doc/refman/5.5/en/select.html

[code]

@harelba I frequently use `q` with simple queries from piped data, but I have not tried to do a join on stdin.  I tried to do a simple example and I can't even get join on stdin to work:

[code]

I'd be genuinel

[2017-02-01 23:44] serima commented on #139
@sweentown Thank you for your advice. Certainly, if we do not refer to the table, FROM is optional.

[2017-02-02 00:26] bitti commented on #139
@sweentown: If you really want to join stdin with itself you need to alias it, e.g.

    select * from - join - x

But I think @harelba was referring to the more common case of joining stdin with another file.

If using simple selects on stdin is a common usecase for you, you can define a simple script or bash function like this:

    qq() { q ${@:1:$#-1} "select ${!#} from -"; }

As bonus this ex

[2017-02-03 13:30] svenXY commented on #131
Great that it's fixed, I can confirm it.

So - when do you plan to release 1.6.0 for Arch? There is another bug that you fixed as well for me since then...

Thanks,
Sven

[2017-02-04 14:10] serima commented on #131
@harelba I also want to know when is the next release for brew packages.

[2017-02-07 19:08] bitti commented on #139
@sweentown: In fact the argument should be the other way around: if leaving out "from" would *not* be part of the SQL standard, we could think about giving it a special interpretation since there should be no conflict with existing usage (except that some might rely on it to fail).

[2017-02-11 20:57] harelba commented on #139
Hi all, thank you for caring and for the discussion :)

My view on this is that it might be a nice convenience feature, but the fact that it kind of conflicts with a regular SQL semantics in which no-FROM means no-table, then I believe that the value it will be provide is not high enough to implement.

Harel

[2017-02-14 20:28] mahiki commented on #97
Adding to this issue, one common case is where the fields are actually not very large, but there are single quote or double quotes contained in the field. *note to self: always clean data before processing!*

    sed s:\"::g data.txt > tmp ; sed s:\'::g tmp > data.txt

[2017-02-23 09:19] aghasemi opened #140 "Can't run nested subquery"
Hi,

Running this query:

`SELECT c1 FROM (SELECT c1,sum(c2) FROM result.txt GROUP BY c1)
`
results in this error:

`No files matching '(SELECT' have been found
`
Any solution?

[2017-02-27 01:43] serima commented on #140
@aghasemi Please see also #102. It may helps you.

[2017-02-27 22:04] harelba commented on #140
Hi @aghasemi . Sorry, selecting from subqueries is not supported. As @serima noted (thanks!), the other issue might help.

I'm considering adding support for this capability in the upcoming version.

[2017-03-03 04:48] barrycforever opened #141 "Inconsistent results depending on the contents of the datafile."
Hi,

I think this is a great idea!  I tried to use "q", though I got inconsistent results with different text files:

C:\Users\barryc\Desktop\>"C:\Program Files (x86)\q-TextAsData\q.exe" -H -d, "select Timestamp,Entity,max(Value) from .\textfile1.csv where Unit='%' and Entity='CHBARRYCAPP1' group by Entity, Timestamp"
1/10/2017,CHBARRYCAPP1,15.52

C:\Users\barryc\Desktop\>"C:\Program Files (x86)\q

[2017-03-03 05:25] bitti commented on #141
It seems `q` gets confused when integers and floats are mixed in the same column and it falls back to string interpretation in this case (`7` is the biggest first character in your example and hence `7.33` the "maximum" string). To force numeric interpretation you can just modify your query a little bit though:

    select Timestamp,Entity,max(Value+0) from .\textfile2.csv where Unit='%' and Entit

[2017-03-03 16:21] barrycforever commented on #141
A little disappointing, but the workaround gave the right result in the small csv and the original csv too.  Thanks!

[2017-03-04 18:56] harelba commented on #141
hi, sorry for the late reply.

As @bitti wrote (thanks...), this is indeed an issue related to not autodetecting the column type as float. This is related to an old issue I've opened a long time ago but never got to solve ( #57 ).

I will take a deeper look to see how this can be fixed asap.

Thanks,
Harel

Btw, obviously not a good enough workaround, but writing 205.0 in the additional row would

[2017-03-06 19:43] barrycforever commented on #141
Thanks for the hint on previewing the interpretation of data.  I should have realized that nothing comes for free. :)

Is there any way to provide a hint of the datatype (or force the interpretation of a datatype)?  Thanks!

[2017-03-09 09:05] jitbit opened #142 "dashes in column names - "column not found""

[2017-03-10 03:43] serima commented on #142
@jitbit Just try to enclose the column name in double quotes like `q "select \"user-id\" from test.csv"`

[2017-03-10 06:43] jitbit commented on #142
Ok thanks!

[2017-03-10 06:43] #142 closed

[2017-03-10 07:53] harelba commented on #141
Sorry, it's not possible to provide a hint for the datatype.

[2017-03-16 03:51] cscetbon commented on #140
@harelba that'd be great !

[2017-03-20 22:16] barrycforever commented on #141
Okay, thanks.

[2017-03-22 16:40] ckuenne commented on #97
I would like to bump this issue. It would be great if you could add this variable as a user configurable parameter.

Carsten

[2017-04-20 16:16] databasedude opened #144 "Error: new-line character seen in unquoted field"
Whenever I try running a query against a CSV file, i get the following error:

Error('new-line character seen in unquoted field - do you need to open the file in universal-newline mode?',)

How do I open the file in universal-newline mode?  Or what kind of line endings are supported by q?

[2017-04-22 07:00] harelba commented on #89
Fixed in v1.6.3

[2017-04-22 07:00] #89 closed

[2017-04-22 07:04] harelba commented on #115
Fixed in v1.6.3.

[2017-04-22 07:04] #115 closed

[2017-04-22 07:04] harelba commented on #116
Fixed in v1.6.3

[2017-04-22 07:04] #116 closed

[2017-04-22 07:05] harelba commented on #126
Fixed in v1.6.3.

[2017-04-22 07:08] harelba commented on #122
Original issue fixed in v1.6.3.

[2017-04-22 07:08] #122 closed

[2017-04-22 07:08] harelba commented on #132
Fixed in v1.6.3

[2017-04-22 07:08] #132 closed

[2017-04-22 07:11] harelba commented on #131
Fixed in v1.6.3.

@svenXY I'm sorry, the arch linux version is still 1.5.0 - Someone else created the arch linux version for 1.5.0, and I'm not familiar with the process. If you still require it, ping me, and I'll try to dig deeper.

[2017-04-22 07:11] #131 closed

[2017-04-22 07:11] harelba commented on #114
Fixed in v1.6.3.

[2017-04-22 07:11] #114 closed

[2017-04-22 07:13] #139 closed

[2017-04-22 07:17] harelba commented on #97
Fixed in v1.6.3 - The size is now dynamic and can be passed as a parameter. Also, in case of an error the offending line number is being shown.

[2017-04-22 07:17] #97 closed

[2017-04-22 08:51] harelba commented on #144
@databasedude - Added flag for universal newline support (currently only for regular files, not supporting .gz or direct-stdout). It's not in the new released version, but it's in master and I'd be glad if you can test it and provide feedback.

[2017-04-22 08:54] harelba commented on #104
Added flag for universal newline support (currently only for regular files, not supporting .gz or direct-stdout). It's not in the new released version, but it's in master. Glad if people could give it a go before I issue a new version.

[2017-04-22 08:55] harelba commented on #138
@EwanSadie - Added support for universal newlines. It's in master (not part of the newly released 1.6.3 version), but I'd be glad if you could test it and provide feedback. I'll be releasing a new version with this addition once several people take a look at it and provide feedback.

[2017-04-23 05:58] dclong opened #145 "Mapping headers"
I think it's a good idea to create a mapping of headers (to unique valid field identifiers). The reason is that the header of a structured text is not always valid SQL identifiers. And I've seen duplicated field names in practice. Mapping the headers to unique valid SQL identifiers can help resolve the issues.

[2017-04-23 07:30] harelba commented on #145
True. There are two parts to it actually: The first part is detecting problematic column names, which exists, but the duplicate-column check was implicit (I've just pushed a change to the master which makes it more explicit and managed). The second part is what you're referring to, allowing to provide the column names externally. This is indeed a good feature.

[2017-04-24 14:19] svenXY commented on #131
I put a comment into the AUR page for q.
Thanks for fixing it anyway.

Sven

[2017-05-03 20:48] jackrabb1t opened #146 ""Too many columns" error"
Hi,

Is there a limit to the number of columns. THis file had columns uptil "N"

$ q "select * from .\Extractor\xxx.csv"
WARNING: file already exists but should not: C:\Users\pstep\AppData\Local\Temp\_MEI10122\include\pyconfig.h
query error: too many columns on temp_table_10001

[2017-05-12 09:01] nilpix opened #147 "Rounding floats is cutting decimals instead rounding"
I have been testing **q** and I've found something that could be an issue.

**Issue**
When I'm doing something like `round(avg(c3),3)` when querying, is rounding this **32655,5265** to this **32655,526** instead 32655,52**7**.

I think that could be an issue, or should be configurable.

Cheers.

[2017-05-12 15:25] bitti commented on #147
That doesn't seem like a q issue, but like a sqlite issue:

    $ sqlite3
    sqlite> select round(32655.5265, 3);
    32655.526

In fact that might be pretty normal, since decimal fractions can not be exactly represented as floats, the internal representation of `32655.526` might be less than `32655.526`. Since I don't see any way to cast a value to a decimal in sqlite I guess the easiest workaro

[2017-05-14 13:08] harelba commented on #147
Hi @nilpix , as @bitti notes, this is an sqlite3 thing. If enough people would complain about this, I might add a custom round function to q which will work around this.

[2017-05-16 08:14] nilpix commented on #147
Thanks for your feedback!

[2017-06-26 17:14] hwine opened #148 "q does not work when python3 is default"
More folks and systems are shipping with modern python as the default. It would be great if ``q`` specified that it needed python2.

[2017-07-06 01:29] m3ng9i commented on #134
Another way is to use `-f` parameter, example:

[code]

But when I replace `%d` with `%s`, the result becomes:

[code]

I writed some test code in python:

[code]

Both of the lines output `24161010220097026928`, but why it's different in q?

[2017-07-07 13:14] szaydel opened #150 "SUGGEST FUNCTIONS TO ADD TO Q (was - Support for computation like roots powers, etc.)"
I was wondering if consideration has been given to supporting functions like SQRT, POW, and perhaps STDDEV, which admittedly not standard for SQL. I think it would be great to be able to easily apply transformations like this to data.

[2017-07-13 07:01] rahulamalkar opened #151 "avialable functions list"
Hi there,
I was willing to know what all the SQL functions does 'q' supports...

[2017-07-19 08:54] patatetom opened #152 "backslash character"
hi,
I have a tab separated values file that contains Windows paths that have backslash characters :
[code]
when I use q on it, backslash characters disappear :
[code]
I tried to play on the options -w and -W but nothing made.
regards, lacsaP.

[2017-07-19 13:44] bitti commented on #152
I cannot reproduce this. Can you provide the output of `cat -t myfile.tsv`, `q -t 'SELECT * FROM myfile.tsv'|cat -t` and `sqlite3 <<<.show`?

[2017-07-19 14:52] stonedbovines commented on #152
I can reproduce the same result as @patatetom on both linux (q 1.6.3) and windows (q 1.5.0).

I can get the backslashes by escaping them (double backslash) in myfile.tsv, when they then show up as single backslashes in the result.

[2017-07-19 15:41] bitti commented on #152
I see, I only tested with q 1.4.0. With q 1.6.0 I can reproduce the problem as well so it seems to be a regression.

[2017-07-19 19:22] patatetom commented on #152
some precisions :
[code]

[2017-07-20 21:38] blaisezzz opened #153 "date range query"
I would like to perform a query to select records in any date range.

I have downloaded the [single file executable](https://raw.githubusercontent.com/harelba/q/1.6.3/bin/q?source=install_page&table=1) to my local directory as my installation package. The file is renamed to 'q.py'

Then, I generate a log and below is a example of how data looks like in the log file
2017-07-20 15:02:13,512;random l

[2017-07-27 15:16] blaisezzz commented on #153
I realized my last comment was missing the proper formatting, here's the updated version:

`
$ cat random.log
2017-07-20 15:02:13,512;random logger;CRITICAL;Optimization Event,newvalue: 758, oldvalue: 56, user: Larry, origin: desktop
2017-07-20 15:02:13,512;random logger;INFO;Configuration Event,newvalue: 154, oldvalue: 51, user: Eric, origin: mobile
2017-07-20 15:02:13,512;random logger;WARNING;C

[2017-07-27 15:41] bitti commented on #153
It still doesn't make sense, since your example doesn't use a range but a single date only. Why not just filter by `where c1 = '2017-07-20'`?

[2017-07-28 06:49] stonedbovines commented on #153
If you _do_ actually need ranges then you should refer to a relevant SQL guide, giving something like:
`q "select * from ./random.log where c1 between '2017-07-20' and '2017-07-23'"`
or
`q -d ";" "select * from ./random.log where c1 between '2017-07-20 08:00:00,000' and '2017-07-23 17:51:23,456'"`

[2017-10-19 09:02] avnerbarr opened #156 "Question - can I join multiple CSV tables"
I want to compare values from 2 seperate csv files , for instance a trivial query like this , but I get an error that the column doesn't exist

[code]

If I change to a different column the result seems to be returned

[code]

[2017-10-19 09:27] harelba commented on #156
If i'm not missing something, then you need to add `-H` to the command line so the header row will be used to name the columns.

You can also run the query using `-A` - This will analyze the data and show you the resulting "table" structure that q has determined, along with column names and types.

[2017-10-26 07:37] hotohoto opened #157 "Support for big file"
In case the source file is big, how about providing an option to enable temporary file based `sqlite`. I'm not sure if it is possible.

Here is the related link.
https://www.sqlite.org/inmemorydb.html (At the last section there.)

[2017-11-01 19:14] contentfree commented on #146
Getting the same error with 24 columns. Works for me, with this file, with 23 columns but not 24.

[2017-11-01 19:22] contentfree commented on #146
I don't run into the issue when I use the right command-line options. In my case, `-H -d,` to specify that it's CSV and has a header row

[2017-11-06 21:54] mahiki commented on #124
this is a pretty big missing functionality. something like this makes it easier to generate histograms, for instance. I've been using q regularly, such a perfect use-case. But now I want to do more, and my workflow is pushing toward copying file to local postgres db.

If q can't run CTE, and I have to migrate workflow to postgres local db, there is not much sense in continuing to use `q` because I

[2017-11-10 03:34] #153 closed

[2017-11-10 12:05] bitti commented on #124
I don't really know about CTEs but it seems their usecase which can not be achieved with subqueries is in recursive queries. If you don't need recursive queries you should be fine with using subqueries, which are also not supported by q but there is a workaround: https://github.com/harelba/q/issues/102

[2017-11-21 05:54] mahiki commented on #124
yes you are right that a subquery satisfies CTE functionality, and I don't need recursive CTE for generic use-cases in my work. I guess the note about sqlite getting CTE functionality gave me hope.

I'm aware of the subquery limitation and the workaround, but based on your reminder I took another look at #102. It works great, although I have to lookup the quoting syntax pretty much every time.

On

[2018-01-24 10:34] leafonsword commented on #109
Hope support Python3 soon~

[2018-01-24 15:24] jungle-boogie commented on #109
I hope we don't have to wait much longer for `q` to work with python3.

[2018-01-27 13:16] harelba commented on #109
Hi, sorry for the large delay in providing a response.

@NDevox @zaxebo1 : You're both right, q's end-to-end testing would definitely cover that.

The main roadblock (aside from my having some free time...) is related to packaging. Ideally, I would have wanted a fully packaged single-executable for all OSs, preventing the users' need to actually care which python installation is used behind the sc

[2018-01-27 20:29] NDevox commented on #109
@harelba It has been a while for both of us ;-).

Honestly, I ended up not using this lib although I found the idea really intriguing and can see myself possibly using it in the future (if it were python3). So I'm still interested in what is happening although I'm surprised this ticket popped back up.

Packaging in python is notoriously bad. Something like go would be a better option if you really

[2018-01-27 20:45] harelba commented on #109
Hi @NDevox ! Thanks for your interest.

Regarding the packaging, I'm not an expert in deb/rpm packaging, but I believe the changes there should be minimal, if any. For PyInstaller, it's supposed to be supported, but the it's a very delicate software unfortunately. For example, in the latest q version, some people are experiencing a pyinstaller warning every time they're running q in Windows. Makin

[2018-01-27 20:47] harelba commented on #157
Nice, the temporary database option seems pretty interesting.

I'll try to arrange that the next version provides a flag for it. If it proves to be stable enough and fast enough, then I'll make it the default in the next one.

Thanks!

[2018-01-31 21:26] gmondo opened #161 "header in file concatenation"
Hi,
I have lot of csv file without header, so I thought to add an header file but I get something like this:
[code]
Do you have some suggestion to avoid this behaviour without cat of files and pipe to q?
Many thanks in advance,
Giovanni

[2018-02-01 08:09] bitti commented on #161
I never saw this `+` syntax, is that a sqlite feature? Anyway, `q -d, "select * from h.csv+d.csv"` seems to work fine, no need to provide column names explicitly. You can also use `q -d, -O "select c1 as f1, c2 as f2 from d.csv"` to avoid creating an intermediate header file.

But why don't you want to use `cat`? Its exactly made fore usecases like that and you don't even need `q` for it.

[2018-02-01 17:38] gmondo commented on #161
Thank you bitti for the response. The problem I exposed is simplified: my csv has tens of fields and I would select only a few. Considering that this usage of an header file seems doable by q manual I think that cat and pipe could make less readable a script calling q.

[2018-02-05 14:29] NDevox commented on #109
Tests are in a single file as well :stuck_out_tongue:

I was under the impression that pyinstaller had the capabilities to merge everything into a single binary. Is this a specific problem for linux/mac?

I've had an initial stab at this, trying to figure out how much effort it would take. My opinion is that, despite the codebase not being that large, the way it is structured is going to make it a

[2018-02-13 06:19] AkilaRamachandran commented on #157
Is there any tentative release date for the next version with temporary database option.

[2018-02-13 06:22] AkilaRamachandran commented on #157
I tried with a 300 MB file, even a simple query with where condition takes 7 to 8 minutes to execute. surprised how Log parser manages to return the same result in 3 seconds. may be the temporary database option would be fast. Q is indeed a great tool that supports complex joins and statements, if it can perform like Log Parser, nothing can complete with q 👍

[2018-02-17 13:41] harelba commented on #157
This is interesting, since i have a lot of windows users that report much faster speeds (am i assuming correctly that you're using windows because of the reference to LogParser?). Can you provide more details? Machine Type, hard disk type, number of rows and columns in the file, perhaps a "demo" of the first 200 lines or so would help (if possible of course in terms of privacy. You could also send

[2018-02-26 09:10] LarsVonQualen opened #162 "Trend micro warning on the Windows installer"
Hey there,

just a quick heads up. I just tried installing using the Windows installer on a corporate machine running Trend Micro OfficeScan, and i flags the installer as malicious.

![q_failing_trend_micro](https://user-images.githubusercontent.com/3056359/36662005-5047f68a-1add-11e8-95bd-d744207cddcf.png)

[2018-02-26 10:25] Oblomov commented on #162
FWIW, that's sadly not infrequent for Python applications.

[2018-02-26 15:08] rolfen opened #163 "Unable to escape space in directory name"
I'm trying to do this:

[code]
I have tried every trick that I could think of, such as adding backspace before the space, enclosing the directory name in escaped double quotes, single quotes, etc. `Q` never gets past the first space:

[code]
This issue might be related: https://github.com/harelba/q/issues/4

By the way, thanks for this software, pretty cool.

[2018-02-26 21:26] rolfen commented on #163
By the way, the documentation says that spaces should be supported:

They are not, on latest master.

[2018-02-28 07:27] vyskubov opened #164 "Windows: Python warning string at the end of the csv output"
Hello.

When I run q on Windows (version from installer) it prints Python warning at the end of the generated csv.
`WARNING: file already exists but should not: C:\Users\836D~1\AppData\Local\Temp\1\_MEI26442\include\pyconfig.h`

Commands like `q "SELECT 1" > result.csv` and `q "SELECT 1" 1> result.csv 2> error.msg`
prints to file `result.csv`

[code]
and error messages (like "file not found") goes

[2018-02-28 08:01] vyskubov commented on #164
As a workaround I use Sed for Windows to remove the last line with the warning

[2018-03-03 09:38] harelba commented on #163
Hi, sorry for the late reply.

Spaces are supposed only in column names with back-ticks, but you're right, this issue is the same as #4, spaces in table names and file names are not supported. There's no plan to add support for it now, as it's a relatively high effort for a use-case that can be easily worked-around in most cases (`cat "./Big Fat Disk/hashes.complete.txt" | q "select * from -"`)

I

[2018-03-03 09:38] #163 closed

[2018-03-03 09:50] harelba commented on #164
Hi, sorry for the late reply, and thanks for the kind words.

This error is actually a bug in pyinstaller for windows, which requires a workaround and new build of q in order to solve. I've already heard of some people encountering this error, but the fact that the output of this line is in stdout and not in stderr makes it much more severe.

I'll try to arrange a windows machine for building q ag

[2018-03-17 07:26] Suleman-Elahi opened #165 "Warning...."
![image](https://user-images.githubusercontent.com/24384996/37552840-cbdb790c-2979-11e8-8d82-9d79119aeabc.png)

What is this warning and how to fix it.????

[2018-03-19 07:25] harelba commented on #165
Hi sorry for the late reply, and for the inconvenience...

I'm aware of this error, it's caused by a bug in the tool that packages q into a windows executable. I need to issue a new version work around that bug. This will happen in the next two weeks

[2018-03-22 10:12] #165 closed

[2018-03-24 08:58] harelba commented on #164
Hi, I've released a new version for windows 1.7.4 which solves this extra warning issue. Just download the new windows version from the site (remember to refresh the page properly, so the new link will be used) and install it. The setup version should be setup-1.7.4.exe.

[2018-03-24 08:59] harelba commented on #146
Hi, I've released a new version for windows 1.7.4 which solves this extra warning issue. Just download the new windows version from the site (remember to refresh the page properly, so the new link will be used) and install it. The setup version should be setup-1.7.4.exe.

[2018-03-24 09:49] harelba commented on #165
Hi, I've released a new version for windows 1.7.4 which solves this extra warning issue. Just download the new windows version from the site (remember to refresh the page properly, so the new link will be used) and install it. The setup version should be setup-1.7.4.exe.

[2018-03-26 17:08] Suleman-Elahi commented on #165
Thanks...!!!

[2018-03-27 11:55] njlr commented on #151
Looking through the code I could only find `regexp` and `sha1` https://github.com/harelba/q/blob/6b06a7cba3426ae0c77dc6507b6d9da1fa4e11d6/bin/q#L158

[2018-03-29 14:41] harelba commented on #151
Hi, q automatically supports the standard sqlite3 functions (see inside https://www.sqlite.org/). In addition, I've added user-function support for regexp and sha1.

I do agree that the list of those user functions needs to be available, however listing all the available functions would mean duplicating sqlite3's documentation, and this is something that I don't think would be beneficial.

I will

[2018-04-08 04:54] ryenus opened #166 "header not on the first line?"
Is it possible for the `-H` option to take an optional argument to specify where does the header line is? Some programs, like `w`, has its header on line 2.

And certain files. such as `/etc/passwd` has some leading comments that can be skipped. What about having something like in sed to use a regular expression to specify the header line?

Thanks

[2018-04-12 13:33] harelba commented on #166
Hi,

Part of q's concept is to integrate well with the linux command-line ecosystem, so using the relevant tools for filtering unneeded lines is preferred in my view. Here's an example with w's output:

`w | sed '1d' | q -H "select TTY from -"`

`sed` is used in this case in order to delete row number 1. If you need to delete several rows, you can pass a range to sed using '1,10d' for example. For

[2018-04-12 13:33] #166 closed

[2018-04-13 05:57] dclong opened #167 "Smarter field delimiter detection and handling of column names"
The tool q is useful but has limitations. I think the following features can be really useful additions to it.

1. Smart auto detection of (best) field delimiters. It's appealing to use q to query output of Linux commands but unfortunately output of Linux commands are often not well structured. It can be a tab or space or multiple spaces. Also, some program output results as ASCII tables like the

[2018-04-13 06:57] bitti commented on #167
1. `q` follows UNIX philosophy, therefore it's supposed to be predictable rather than trying to be smart. That also means it works great together with other UNIX tools. If a tool breaks that contract by outputting superfluous ornaments you need to write a special filter for them to massage the output into a proper format. But even such tools often have a flag to produce a machine-readable output,

[2018-04-22 20:58] harelba commented on #167
Hi @dclong , I'm glad you find q useful.

I agree with @bitti regarding fitting the unix philosophy, I believe that data cleanup/formatting should be done by using other, more suitable, linux tools. q doesn't attempt to replace the entire linux command-set, quite the contrary, at least from my viewpoint.

Regarding the automatic column name, I don't really believe that there's a significant differ

[2018-05-16 19:38] jameshfisher opened #168 "None of the examples show the input file"
See http://harelba.github.io/q/examples.html

What is `clicks.csv`? What is it supposed to look like so that I can reproduce these examples?

[2018-05-18 20:33] alahijani opened #169 "Add a fixed width input mode"
Maybe add an option to parse pretty printed _input_, to complement `-b` for pretty printed output.

I use `q` on `kubectl` output, but when one of the values has a space in it, it breaks the parsing:

[code]
Usually `q -HOb 'select * from -'` is a no-op, but in this case:
[code]

[2018-05-18 21:16] bitti commented on #169
The `b` option is included for convenience but in fact violates Unix philosophy. You can get a similar result by piping `q` output through `column -t`, so it's not strictly needed. Therefore I think adding another option on the input side would be a step in the wrong direction. Instead I suggest making an input transformation to distinguish between column separators and literal spaces:

    kubect

[2018-05-26 12:41] harelba commented on #168
Hi @jameshfisher sorry for the late reply.

Actually, the file is a dummy file which I've used in order to show how to work with the tool. They examples weren't made to be executable (the original file actually contained sensitive data, so publishing it would not have been possible).

I agree that it would be very beneficial if the examples were fully executable. I was under the impression that an

[2018-06-04 16:06] avilella opened #170 "SELECT CONCAT("A","1",'/')"
Is it possible to do CONCAT with q? E.g.

[code]
If not, could it be implemented?

[2018-06-04 21:29] harelba commented on #170
q accepts sqlite3 syntax constructs. Concatenating using sqlite3 is done by using "||":

[code]

[2018-06-04 21:29] #170 closed

[2018-06-05 10:29] avilella opened #171 "not converting numbers will leading zeros"
Hi, I have a case where a .csv has a table with numbers like: 032907365 that are getting converted to 32907365 when doing:
[code]
How can I switch off that conversion process?

[2018-06-07 07:43] avilella commented on #171
Resolved with q version 1.7.x and:

[code]

[2018-06-07 07:43] #171 closed

[2018-06-07 16:51] harelba commented on #171
thanks @bitti and @avilella for handling :)

[2018-06-19 16:30] vi commented on #150
Bump.

["How to calculate square root in sqlite"][1] talks about some ["extension functions"][2]. Are them applicable to Q?

[1]:https://stackoverflow.com/questions/12731941/how-to-calculate-square-root-in-sqlite
[2]:http://sqlite.org/contrib/download/extension-functions.c?get=25

[2018-07-07 09:39] harelba commented on #150
I'm already adding several extension functions: regexp(), sha1(), and percentile().

I don't mind adding several others, but i'd be glad to do it in one go, since i'm currently involved in other projects, and the overhead of issuing a version is not trivial (mainly because of the windows version actually...).

Let's make this issue a placeholder for all the functions that people require, and then

[2018-07-07 10:34] harelba commented on #169
While I understand the issue with kubectl's output, I agree with @bitti on this. Adding such a capability to q would be cumbersome, probably error prone, and a step in the wrong direction. kubectl effectively has a bug in its output, since it does provide multiple output formats, but doesn't fully provide a table format that is machine-parsable.

I would take another approach and create a more gen

[2018-07-09 07:59] bitti commented on #150
Does every release has to include a Windows build? And how many people are actually waiting for a Windows release compared to a Linux/Unix release? Why not make more frequent releases for Unix and some infrequent releases with a Windows build?

[2018-07-09 11:18] psychemedia opened #172 "Import error"
Installing current version on Mac using `brew install q`:

[code]

Running `q` commands gives me an import error:

[code]

which is presumably resulting from using an inappropriate version of python? Is this picked up from a path / settable anywhere? If so, what are the Python version requirements?

[2018-07-09 16:01] bitti commented on #172
Works fine for me:

[code]

What does `python --version` yields for you? I get the system default version `Python 2.7.15`. Note that `q` is not Python 3 compatible yet, when I change my `virtualenv` to a Python 3 environment I get the same error as you. That can be considered a bug, since users of `q` shouldn't have to care if it's implemented in Python.

@harelba: I suggest to replace the shebang

[2018-07-09 18:56] psychemedia commented on #172
I thought it was a py2/3 issue. (I have `Python 3.6.4 :: Anaconda custom (64-bit)` leading from my default path; I dumped the default Mac python a long time ago... Which makes me wonder if other things elsewhere are broken if I try to run them!)

[2018-07-09 19:40] bitti commented on #172
What do you mean by "dumped"? Deleted `/usr/bin/python`? I think Mac OS doesn't really rely on the system Python being available, although there might be a few old obscure scripts which do (like ` /usr/bin/smtpd.py`). There might be some 3rd party apps tough which rely on the system python though.

But I guess by "dumped" you mean you just changed the default path python, since modifying `/usr/bin

[2018-07-09 20:42] harelba commented on #172
@bitti would `#!...python2` be available on all platforms? If yes, then it might be a great idea.

Anyway, when I have a moment or two, i'll try to finish the make-q-python-3-compatible...

[2018-07-09 21:32] bitti commented on #172
There is no guarantee, but [PEP-0394](https://www.python.org/dev/peps/pep-0394) clearly states

So even though according to the spec the `python` binary should point to a python 2 interpreter if available, this can not be expected anymore since quite a while, therefore:

On Mac OS I can not see a `python2` executable in the default system path `/usr/bin` though, only a link for `python2.7` (which

[2018-07-10 08:55] psychemedia commented on #172
"Dumped" as in I avoid it and try not to default to it.

On Macs, I think there is an explicit `python2` at `/usr/local/bin/python2`?

[2018-07-10 15:29] bitti commented on #172
The stuff in `/usr/local` is user installed and not part of the system default installation. In my case it's just a link to a homebrew installed Python, probably in yours too:

[code]

[2018-07-24 23:34] mrsarm commented on #95
@harelba I having a similar issue, a columns with code numbers, some of the numbers start with leading '0', but when i make a query, the command detect that the column is a number, and outputs the number removing the leading 0, what it's incorrect, becuase the code must have all the digits. How i can force 'q' to read all the columns or some of them as strings?

[2018-07-24 23:50] bitti commented on #95
I think this is in fact related to ticket https://github.com/harelba/q/issues/171. The solution is to use at least version `1.6.0` and providing the `--as-text` option.

[2018-07-30 15:40] MakiseKurisu opened #173 "[Feature Request] Query CSV from Zip file"
I'm working with zip files with multiple csv bundled. It will be great if I can join multiple csv in a zip as if they are multiple tables.

[2018-07-30 22:05] cawal opened #174 "Provide URI always pointing to the latest version (DEB package)"
It's a minor request, but would be nice to have a URI always pointing for the  latest stable version, thus people could use it for installing q in automated scripts. Something like:

[code]

[2018-09-13 13:51] guludo commented on #100
Any update on this? :-) I'd love such a feature.

[2018-09-18 07:53] harelba commented on #100
no update unfortunately, i'll see if i can squeeze it in and package a new version

[2018-09-18 09:52] dalemyers commented on #96
Just going through my old issues and this is still open. I don't need this functionality any more, but I'm curious if it was ever added?

[2018-09-18 19:55] bitti commented on #96
A few GB might be still feasible, but if you get into the TB range I doubt that q is the right tool for that. I always found q a nice postprocessing tool, e.g. when querying the results of some mapreduce jobs. It certainly is not suited to do the processing of large files itself.

[2018-09-19 09:56] dalemyers commented on #96
At the time, I was working with files a few hundred MB. It's enough that caching is nice if you are going back and forth multiple times in a script.

[2018-09-24 08:36] harelba commented on #96
sorry for the late reply,

q has a variation on this - You can ask it to save the data to an sqlite database file, and then analyze it with sqlite command line.

[code]

Regardless, if you're dealing with huge files, then you'd probably need to use some distributed solution and not q. I once had done some steps of making q's engine work with apache spark behind the scenes, and a POC was indeed wor

[2018-09-24 08:46] dalemyers commented on #96
That sounds good enough for what I need(ed)!

[2018-09-24 08:46] #96 closed

[2018-10-06 10:37] jgclark opened #176 "Ability to change delimiter in output?"
For a set of simple queries I just want to be able to output a list of names. I can do this easily enough using `SELECT ... firstname, lastname ... ` from my data, but it produces output with comma between the two fields (e.g. `Joe,Bloggs`). I was hoping to be able to set the delimiter to a space, using the SQL construct `SELECT ... firstname, lastname ...  FIELDS TERMINATED BY ' '`. This doesn't

[2018-10-06 12:34] harelba commented on #176
q has an output delimiter parameter that you can use (`-D`). Run `q --help` for details if needed.

btw, you could also control output for this specific case by using SQL string concatenation (e.g. `q "SELECT firstname||' '||lastname from ...."`). see sqlite's string concatenation info.

[2018-10-06 12:34] #176 closed

[2018-10-08 19:43] captlid opened #177 "No output on windows 8.1 64 bit pro version 1.7.4"
![screenshot 208](https://user-images.githubusercontent.com/10800350/46629983-bfa55980-cb10-11e8-9eaa-2e403be1ac49.png)

The file is a tab delimited file, but I am not getting any output as shown in the picture above.

[2018-10-08 21:33] bitti commented on #177
Don't use single quotes to reference columns or you just get literal strings. Just leave the quotes off or use backticks instead if you have column names with special characters. Also see https://www.sqlite.org/lang.html

[2018-10-09 01:12] captlid commented on #177
![screenshot 212](https://user-images.githubusercontent.com/10800350/46641266-ad421480-cb3e-11e8-84b4-75e2af948916.png)

still getting the same problem. The file is tab delimited. I have sqlite on my computer at home the queries work fine on the same imported file.

[2018-10-09 05:56] harelba commented on #177
In order for q to use the header for the column names, you need to specify `-H` in the command line: `q -H "select ...."`

[2018-10-10 03:15] captlid commented on #177
and apparently the delimiter too .
q -H -d, "select ...."
or
q -H -t "select ...."

It works now. Without the delimiter specified it says no columns.

[2018-10-10 03:15] #177 closed

[2018-10-16 00:50] lavvy opened #179 "Alpine package"
Please can we have an apk of this project. It is in Arch already, an  """ apk add q """ would be good .

[2018-10-17 05:54] peylight opened #180 "Support too many files"
Hi
There are some problem in linux (i tested) if i have too many files this error will be happened:
`IOError: [Errno 24] Too many open files`
Also it is very slow and using just one core for processing...

[2018-10-17 15:40] bitti commented on #180
How is this `q` related? Can you give an example commandline which is triggering this?

[2018-10-17 17:56] peylight commented on #180
@bitti
That error is about OS and python.
But it happened if there are too many input files. Like a wildcard for ex:
`q "SElECT COUNT(*) FROM ./path/to/myfiles_* WHERE c1 == 'sample'"`
I think `q` try to open all files in once and then the error will be happened

[2018-10-18 06:17] bitti commented on #180
Interesting, I didn't now `q` supports fileglobs. But that's probably because I usually would never use them and do an explicit cat instead. E.g. in your example

    cat ./path/to/myfiles_* | q "SELECT COUNT(*) FROM - WHERE c1 == 'sample'"

or

    q "SELECT COUNT(*) FROM "<(cat ./path/to/myfiles_*)" WHERE c1 == 'sample'"

I'm sure `cat` is smart enough to avoid opening all input files at once. S

[2018-10-18 16:01] harelba commented on #180
hi, yeah q supports glob, and actually also un-gzips `.gz` files provided to it as table names.

The bug itself is interesting, i'll definitely take a deeper look.

[2018-10-19 07:35] harelba commented on #180
Tried some stuff, this is odd, since it seems that q is handling the file closing properly.

When you test @bitti 's variation, using `cat`, you don't get any error, right?

[2018-10-19 07:53] harelba commented on #179
i'd be glad to create a package for this, but i'm unfamiliar with the entire flow of releasing such packages. If you could elaborate on this, that would be great.

[2018-10-19 10:20] petski commented on #174
Poor mans way to do this:

[code]

(Based on https://gist.github.com/steinwaywhw/a4cd19cda655b8249d908261a62687f8)

[2018-10-19 20:43] lavvy commented on #179
I am not yet too conversant with it though but I know that APKBUILD file of
alpine is almost equivalent to PKGBUILD file of arch, only with a very
little syntax difference.

On Fri, Oct 19, 2018, 3:54 AM Harel Ben-Attia <notifications@github.com>
wrote:

[2018-10-19 21:14] bitti commented on #174
You know `q` but don't know about `jq`!?
[code]
Seems simpler and less fragile.

[2018-10-20 05:35] harelba commented on #150
@bitti About your suggestion to split the windows and linux version releases - The q site google analytics shows that 30% of the people that arrive to the site run on windows machines. While this doesn't necessarily indicates that this is the percentage of users, it does lead me to think that there is a relatively large base of users which are windows-based. This is why i would prefer the versions

[2018-10-23 18:44] ferenczy opened #181 "q as a Python package / Installation using pip"
I really like this tool, it simply awesome! I just wonder why you don't provide it as a Python package so pip may be used to manage the installation. It's pretty standard, multiplatform, convenient.

I would definitely prefer it over the Windows installer. That's good only for people not having Python already installed.

[2018-10-27 06:56] harelba commented on #181
thanks for the kind words :)

i always wanted to, but haven't got to it. It would require adding a python package to the current installation formats, since there are many people relying on it in Windows platforms as well (30% percent of users are on windows).

I'll take another look at it

[2018-11-17 23:02] harelba commented on #180
@peylight would you mind adding the needed information? I'm gonna be releasing a new version soon, and I want to add an fixes for this bug as well if possible.

[2018-12-02 20:29] rseemann opened #191 "Cannot encode data."
I'm trying to run a query on a csv that contains accented characters, but I'm getting this error:
`Cannot encode data. Error:'ascii' codec can't encode characters in position 3: ordinal not in range(128)`

If I remove the problematic characters it runs nicely, or if I limit the query to return rows that do not contain the problematic characters it also works. I tried reencoding the file to UTF-8,

[2018-12-04 20:09] Berkmann18 commented on #172
I'm running into the same issue.

[code]

[2018-12-04 21:22] Berkmann18 opened #192 "Erroneous output on a TSV file"
I'm trying to get some statistical data out of a [TSV file](https://www.worldcubeassociation.org/results/misc/WCA_export048_20181204T040001Z.tsv.zip) but no matter if I use `c1` and the like or the name of the columns it seems that it can't find the column when specifying the names and it doesn't return the correct row.

## Example 0 `q "SELECT c1 FROM WCA_export_Results.tsv"`:
### Expected
[code]

[2018-12-06 14:33] harelba commented on #191
Hi, sorry for the late reply.

I think it depends on your "native" encoding. In my terminal both work well, but i believe that this is because my native encoding it utf-8, so the copy-paste i did from your message above was utf-8 as well.

I would need two things in order to try to help:
1. Upload of the actual file that causes you issues (send it as a zip file, so there won't be any incidental en

[2018-12-06 14:35] harelba commented on #192
This seems like a delimiter issue. For historical reasons, q's default delimiter is not a tab, but a space.

if your file is tab delimited, then just use `-t` or `-d $'\t'` as a parameter, in order to tell q that it's a tab delimited file.

One important way to analyze the  column/type inference of q is to run it with `-A`, which shows the structure that it has detected on the data files.

[2018-12-07 07:05] harelba commented on #172
@Berkmann18 please confirm that your python is indeed 3.x.

Hopefully we'll soon support both python3 and python2, and i'll issue a new version that supports it.

If you wanna hack it for now, and you have python2 installed on your machine as well, you can change the first line in q's executable to `#!/usr/bin/env python2` instead of just `...python`.

I'll update here when a new version will come

[2018-12-07 09:46] Berkmann18 commented on #172
@harelba It is indeed.

[2018-12-07 09:58] harelba commented on #172
Hopefully, we'll have a python 3 compatible version soon. Until then, see my workaround above if applicable in your case.

Sorry for the inconvenience.

[2018-12-07 09:59] harelba commented on #180
@peylight kind reminder about this issue.

[2018-12-07 17:20] peylight commented on #180
@harelba
By `cat` and then pipe into `q` it's working fine.
`$ ulimit -a`
`open files                      (-n) 1024`
So if you make more than 1024 files, it's will be happen.
I can't run another command when the error happening. it's very fast!

[2018-12-07 17:20] peylight commented on #180
@harelba
By `cat` and then pipe into `q` it's working fine.
`$ ulimit -a`
`open files                      (-n) 1024`
So if you make more than 1024 files, it's will be happen.
I can't run another command when the error happening. it's very fast!

[2018-12-08 11:17] Berkmann18 commented on #192
Ah awesome, thank you.

[2018-12-08 11:17] #192 closed

[2018-12-08 12:13] harelba commented on #191
@rseemann kind reminder to this issue. I'd be glad to help if needed.

[2018-12-08 12:14] harelba commented on #180
@peylight Would be glad to get your exact command line, and some screen shot/output of the files in your folder

[2018-12-08 19:08] rseemann commented on #191
Hi @harelba, thanks for the reply!

I had a similar problem in another project, and I fixed it with utf-8. I'll close this thread since I believe it might be the same problem and reopen if I can't solve it then, does that make sense?

[2018-12-08 19:08] #191 closed

[2018-12-08 19:33] peylight commented on #180
Yea, I can give you the exact files and command.
[Download files](https://files.catbox.moe/8v6un9.zip)
Command: `q "SElECT COUNT(*) FROM q-test/* WHERE c1 == 'sample'"`

[2018-12-09 18:51] rseemann commented on #191
Curiously enough I was trying to run the command from within a Python script and it works

`output = subprocess.check_output(['bash','-c', bashCommand])`

but if I try to run the exact same command from the command-line it gives me the ascii error. I no expert in bash, so it might be something obvious here that I might be missing.

[2018-12-10 13:57] harelba commented on #180
thanks! indeed now i've managed to reproduce the problem, i did create lots of files, but i probably missed something in setting the file limit, since it wasn't reproduced earlier.

This happens because q opens the files in parallel, i'll take a deeper look to see how to optimize this so no one will get this error.

Thanks again

[2019-01-31 19:06] likeshumidity commented on #172
As a temp fix, if `python2` is in your path, can just change /bin/q first line from:
[code]
to:
[code]

[2019-02-04 16:08] harelba commented on #172
master is fully python2+3 compatible now. I'll try to issue a new release soon.

[2019-03-01 11:30] d10xa opened #197 "Override newline delimiter"
[code]

will produce `x,1;y,2;z,3`

is it possible to perceive another character at the end of the line?

[2019-03-01 21:05] bitti commented on #197
The solution is not `q` specific but works in general in UNIX like systems. Just combine with another tool, here `tr`:

[code]

[2019-03-21 04:21] ryandward opened #198 "File exists, but getting query error: no such table:"

[2019-03-21 06:05] bitti commented on #198
It would be news to me that `q` supports anything else then `select`. If that is your usecase you probably need more scripting or just import it into a sqlite3 table to leverage its full power.

[2019-04-04 06:57] spotiris commented on #198
I have also come across this today, and couldn't find any documentation saying that q supports (or does not support) UPDATE.
A workaround is to output your updated column to another name, then use either q or cut to remove your unwanted column.

[2019-04-15 10:52] finp opened #200 "ifnull doesn't work for me"
select ifnull(column,0) from <filename>

doesn't work for me, never sees the null,
but I wonder if it's related to format, I'm using `-d ,`

[2019-05-20 08:40] joelparkerhenderson opened #201 "Feature request: $50 donation to help add USV (Unicode separated values)"
I would like to donate to you or your favorite charity to help encourage a new feature: Unicode separated values (USV) which uses Unicode unit separator U+241F and Unicode record separator U+241E.

Unicode separated values (USV) are much like comma separated values (CSV), tab separated values (TSV) a.k.a. tab delimited format (TDF), and ASCII separated values (ASV) a.k.a. DEL (Delimited ASCII) a.k

[2019-06-03 18:43] mathieuhendey opened #202 "Relative links include `~` do not work"
When I try to pass a relative link to q it complains that there is no file matching the path. However, if I immediately `stat` the path it complains about, there is indeed something there:

[code]

However, if I then pass the absolute path that `q` previously complained didn't exist to `q` it finds it with no issues:

[code]

I believe something strange is happening with the parsing of relative pa

[2019-06-03 19:32] bitti commented on #202
The ticket rename still doesn't reflect what you mean, because paths starting with `~` are in fact absolute. (They only depend on the user you're logged in, not on what your current `$PWD` is.) So I would rephrase it as `q doesn't do tilde expansion`.

I'm not sure though if this is actual bug or rather a feature, since depending on the shell there are different forms of tilde expansions. So I gue

[2019-06-10 20:33] wtanksleyjr opened #203 "Feature: would be nice to specify header and format per-file"
I'm doing a lot of joins, and I find that I have to add and remove headers all the time. It would be cool to have some markup or options to allow that to be specified per-file, perhaps by defining tables in an option (which would also make it easier to specify filenames without running into SQL syntax problems). So for example:

`q -f a=~/author.tsv,Ht b=editor.tsv,t "select b.c1,a.name,b.c2 from

[2019-06-10 21:09] bitti commented on #203
That doesn't seem like anything you can already do with the shell. E.g. taking your example

    a=~/author.tsv b=<(cat dummy-header.tsv editor.tsv); q -H -t "select b.c1,a.name,b.c2 from $a a join $b b on a.ID=b.c1"

The `dummy-header.tsv` could contain a single line like `c1\tc2\tc3\t[...]` so you could "normalize" your files to contain all headers. Similarly, you can pipe through `tr` or someth

[2019-06-10 21:17] wtanksleyjr commented on #203
Thank you for the tips; especially putting the named pipe into an environment variable is the syntax I needed. I'll close this issue -- if your idea is to keep the command line simpler I agree :) .

[2019-06-10 21:17] #203 closed

[2019-06-10 21:36] bitti commented on #203
@wtanksleyjr: I'm not the author of `q`, so it's not for me to decide if this gets implemented. But the idea is stated in his Unix philosophy [rationale](https://github.com/harelba/q/blob/master/doc/RATIONALE.markdown#philosophy): just do one thing but try to do it well and for everything else rely on the power the combination of Unix tools gives you.

[2019-06-13 15:24] finp commented on #200
I see this line suggests integer nulls are supported https://github.com/harelba/q/blob/master/test/test-suite#L1530
But this seems like a restriction (whatever it is) worth documenting?

[2019-06-13 20:20] bitti commented on #200
I guess it's more a limitation of the CSV "standard" than of q? I don't think there is a common way of telling if a string value is supposed to be `null` or an actual empty string. But you certainly can convert empty strings to `null` explicitly (i.e. `ifnull(nullif(column, ''), 0)`)

[2019-06-14 08:39] harelba commented on #200
This subject is indirectly related to csv quoting and to q's type inference.

Since csv fields are many times unquoted, the input can be ambiguous. For example, in an unquoted csv, an empty string value can be either null or  an empty string. If the type is a number, then an empty value can be analyzed as a null value without any ambiguity.

q performs type inference, and allows by default working

[2019-07-03 17:49] wtanksleyjr commented on #203
Has anyone gotten the "b=<(cat blah); q ..." syntax to work? When I try it, the file's already gone. It seems the named pipe is deleted as soon as the command it's contained by ends (with the semicolon).

Is this only valid on some systems, like BSD/MacOS? I'm using Ubuntu.

[2019-07-03 21:10] bitti commented on #203
You're right, I only tested on MacOS :( It seems the pipes life longer there, but that might also not be reliable... In this case I'm afraid it will be difficult to come close to the proposed syntax. The easiest would be to just inline the process substitutions:

     q -H -t "select b.c1,a.name,b.c2 from ~/author.tsv a join "<(cat dummy-header.tsv editor.tsv)" b on a.ID=b.c1"

If that is not acce

[2019-07-03 21:15] wtanksleyjr commented on #203
Well, at least we have a clear workaround and an understanding of the complexities. Thanks for the help!

As a minor comment to anyone who reads later, putting "~/author.tsv" inside a string won't work in Bash. You have to either put it outside the string, or use "$HOME" instead of "~/". It's just how bash works.

[2019-07-03 22:52] bitti commented on #203
Yes bash can make the substitution for `~`, but not `q` itself. That's certainly not a bug since it's just a shell feature. But I also noticed that I have to use an alias for `b` (i.e. `b b`) or the headers won't be parsed correctly (`query error: no such column: b.c1`). @harelba: maybe that's a bug, or is it supposed to work that way?

[2019-07-04 02:48] wtanksleyjr commented on #203
It kind of makes sense; complex filenames won't be legal table names
anyhow. I always make aliases, except when I'm using only one table and so
don't need any dotted qualifiers.

On Wed, Jul 3, 2019 at 3:52 PM David Ongaro <notifications@github.com>
wrote:

[2019-07-16 08:54] yarongon commented on #172
I have the same issue with q version 1.7.4 ... Here's a screenshot:

![image](https://user-images.githubusercontent.com/3857911/61280308-500b7b80-a7c0-11e9-9125-70b012d49873.png)

[2019-07-16 15:32] harelba commented on #172
@yarongon This is directly related to the fact that you're using python 3. Version 1.7.4 requires python2. See above for a possible workaround if you have python 2 installed in parallel.

The q master branch already contains python2+3 compatibility, and will be released probably in a couple of weeks (requires major changes to the packaging/release process).

[2019-09-05 10:03] IzzySoft opened #206 "fixed-width columns"
First, thanks for this very useful script – works fine even in MobaXterm out-of-the-box (used the single-file-executable)!

Unfortunately, I couldn't figure how to use it properly on "CSV" files using fixed-width columns instead of "single character delimiters". Would be great if that could be supported as well. I'd be fine if column width is determined by the header line for now (with the limitat

[2019-09-05 15:01] bitti commented on #206
This came up before. The solution is to pipe through a script first which replaces multiple spaces with a proper delimiter. E.g. `sed $'s/   */\t/g'`.

[2019-09-05 16:41] IzzySoft commented on #206
That indeed might work for many cases including my above example, but not necessarily for all. Assuming your RegEx works (rather looks like it would replace all spaces by tabs, not just multiple), what if a "cell" contains multiple spaces? Or if two columns "touch" (e.g. "123456789" could represent 3 columns with a width of 3 chars each), which is a common case with fixed-width formats?

Extending

[2019-09-05 18:02] bitti commented on #206
Exactly, "what if...?". What if even the column headers contain spaces? `q` can't possible support all cases, that's why it's expecting CSV files. If you don't have CSV, you need to ensure to properly convert it beforehand by whatever means. The `sed` line was just an example for that.

But maybe you're hammering the wrong problem, many tools have an option to provide machine-readable output, so y

[2019-09-05 20:50] IzzySoft commented on #206
Many tools have, but not all. Hence I was just suggesting this. If Harel thinks it doesn't fit in, I won't complain as I know there are differences between CSV, TSV (easily solved) on one side – and fixed-column-width on the other (requiring a different approach).

q uses SQLite under-the-hoods, and there are approaches to this in Python (e.g. [here](https://gist.github.com/YurZ/4164707)). Tricky

[2019-09-05 22:04] bitti commented on #206
No sweat, I wasn't offended. I just don't think it would fit in well because it would violate the unix principle of doing one thing well. And as you mention there are already approaches for problems like this, and probably better tools and scripts available to deal with these kind of transformations.

E.g. the GNU flavour of AWK has a `FIELDWIDTHS` variable: https://www.gnu.org/software/gawk/manua

[2019-09-06 06:13] IzzySoft commented on #206
Thanks a lot! I wasn't aware of that `gawk` feature – which indeed seems to fit (I'm gawking now :rofl:). Need to check that out when I'm back at work. I wonder if `gawk` also might have a `trim()` feature to cleanup resulting cells…

[2019-09-07 08:28] harelba commented on #206
The question of whether q should support fixed-width files is dependent on the actual definition of what q is.

If q deals with TSVs/CSVs, then obviously fixed-width files are not part of it. But if q deals with "implicit tabular data" then it should be a part of it.

In general, I view q as the latter, so I do see adding it to q as something which would add value to the users.

However, I'm not s

[2019-09-07 10:48] IzzySoft commented on #206
Thanks a lot, Harel! And yes, of course timing/prio are entirely up to you as well. Thanks to @bitti there is something that can be used as work-around meanwhile. So I'll wait patiently :smile:

[2019-11-03 23:51] gmolau commented on #148
It seems like this is fixed in the code, but `brew install q` still gets the python2 version:(

[2019-11-04 00:23] harelba commented on #148
Hi, sorry for the inconvenience.

Full python3 support is already on master (including some nice performance improvements due to the move to py3), and I'll release a new version in the coming few days.

[2019-11-12 16:59] rajkirandav opened #208 "Q doesnot list the value correctly"
Hi ,I have the file content as below
01022517359362791112131139
01022517359362791112131139

When i try to list using q ,the o/p comes in exponent form as below
[wdbs@bt-pcrf-app1 ~]$  q "select c1 from 1"|head
Warning: column count is one - did you provide the correct delimiter?
1.02251735936e+24
1.02251735936e+24

Basically i would like to retain the q o/p in the same format as in the source file

[2019-11-12 20:34] bitti commented on #208
Use the `--as-text` option when you don't have any columns which need numeric interpretation.

[2019-11-15 16:03] rajkirandav commented on #208
Thanks Mate..

[2019-12-02 00:43] harelba opened #210 "Pretesting the New Version 2.0.6"
Hi - I've prepared a new release of q, which runs under python 3, but without any need for external dependencies, not even python itself.

The packaging format is now a self-contained single-file Linux/Mac binary. The windows installation was already using this single-executable model, but is now fully self-contained and should not require python as well.

I would appreciate some pretesting of thi

[2019-12-02 23:05] bitti commented on #210
I think that it's a good idea to make it self-contained, since oftentimes one needs `q` on a remote node where one doesn't have any installation permissions but dropping in a binary into the home directory is ok. At the same time I think it should still be possible to just download the `q` python executable directly and use that if the dependencies are already provided by the system environment.

[2019-12-02 23:27] harelba commented on #210
I agree, I'll make sure to provide a way to use the python source code if you already have the deps.

[2019-12-03 01:09] hwine commented on #210
@harelba - deb wfm under ubuntu 18.04 (wsl2). I did notice you haven't updated the copyright date in the version string, though. ;-)

[2019-12-03 01:42] harelba commented on #210
thanks @hwine yeah, noticed that too :)

the release process was too manual now for it to be worth it :) i'll fix that later on.

[2019-12-03 20:58] harelba commented on #210
Found two issues related to the windows version - Hadn't had a windows machine to test it until now...

Both of them related to having q in the path - Wrong executable filename, and probably an issue with setting the path itself (setup sets the path at the user level and not the system level, and the executable is not found).

Will fix.

[2019-12-04 12:59] yarongon commented on #210
Installed the deb file via dpkg without a problem.
Run queries both on CSV files (40mb), and `docker ps` output. All worked
perfectly.

My system info:
Distributor ID: Ubuntu
Description: Ubuntu 14.04.6 LTS
Release: 14.04
Codename: trusty

On Tue, Dec 3, 2019 at 10:58 PM Harel Ben-Attia <notifications@github.com>
wrote:

[2019-12-21 13:11] harelba opened #212 "Multiple headers rows are output when using -O with wildcard-specified table names"
When running `q -H -O "select ... from blah*`, the original header would be printed to the output multiple times, since q is not skipping these additional headers.

Fixing now in the master branch before issuing a new release.

[2019-12-27 13:48] harelba commented on #210
New version 2.0.8 is ready, Fixed windows issues + Fixed #212 issue with multiple-headers and wildcards.

Version seems good on windows as well now.

Would appreciate any more testing if possible.

Harel

[2019-12-27 13:49] harelba commented on #210
btw, the build/package process is in transition, hence the lots of dummy-releases. First priority is to issue the release, will consolidate this after the version is released.

[2020-01-07 15:29] ad-si opened #213 "Feature request: Add support for outer union"
https://saveenr.gitbooks.io/usql-tutorial/content/set-operations/outer-union.html

[2020-01-08 16:26] ad-si opened #214 "Fix handling of multiline strings"
example-accounts.csv:
[code]

example-tasks.csv:
[code]

The following command:

[code]

yields

[code]

but must yield

[code]

Notice the additional quotes around the multiline string.

[2020-01-13 08:59] MCOfficer opened #216 "2.0.9 build fails - no releases"
Apparently Travis failed to build releases for 2.0.9, as a result nothing can be downloaded:

https://travis-ci.org/harelba/q/builds/636002923

I'm just filing this in case you didn't notice. Feel free to close it.

[2020-01-28 11:29] VSuhas22 opened #217 "Additional quotes are added to the first header"
I have a csv like:
[code]
When I try to use q to select this with this command `q -H -d ',' "select * from <path to csv>" -O`,
the output comes up as:
[code]

As you can see there are multiple quotes being added to the first header. Am I doing something wrong here?

[2020-01-28 14:25] VSuhas22 commented on #217
Changed the encoding to Windows-1252, and it works fine now,
`q -H -d ',' "select * from <path to csv>" -O -E 'Windows-1252'`

[2020-01-28 14:53] VSuhas22 commented on #217
Nevermind trying a different file with Windows-1252 encoding gives the error `'charmap' codec can't encode character '\ufeff' in position 1`

And if I try with some other encoding the extra quotes reappear.

I'm using windows and PowerShell btw.

[2020-01-28 17:03] harelba commented on #217
Hi, this is interesting. q cannot detect the actual encoding itself, so it's natural that it couldn't work well without explicitly stating that the encoding is windows-1252.

However, the error you've written in the second post hinted that this file has what is called a BOM (Byte Order Mark) - The FEFF hex data at the beginning. I've actually implemented a hack inside q that works around a bug in

[2020-01-28 17:41] VSuhas22 commented on #217
Thanks for the reply.
Also, saving the csv without BOM removed this error.

[2020-01-30 13:54] erik-stephens commented on #109
Regarding the distribution problem, I find this option the most portable and less taxing on developers/maintainers: give users an "install python version >= i <= j" pre-requisite and then invoke your library with `pythonX -m q` (eg `python3 -m pip -h`) which can be aliased to something more user-friendly (eg `alias q='python3 -m q'` in bash).  This makes a lot of sense to me because it offloads th

[2020-01-31 11:07] harelba commented on #109
Hi,

Version `2.0.9` is out, which runs on python3 as well. The packaging has been changed so from now on q is distributed as a single-binary executable without any dependencies, including python 3 itself (e.g. it has its own python internally, it's not using any system python).

The new packaging is in a beta period, so I'd appreciate any feedback on it if any of you is planning on checking it ou

[2020-02-10 08:48] MCOfficer commented on #216
Apparently this has been fixed

[2020-02-10 08:48] #216 closed

[2020-02-10 14:36] harelba commented on #216
Hi, this was related to the new packaging flow. 2.0.9 is already released, you can download it from the q website [here](http://harelba.github.io/q/)

[2020-02-11 16:56] vi commented on #124
Can `q` recognize that things after `AS` are not to be interpreted as filenames and just left as is?

[2020-02-12 07:57] harelba commented on #124
Yes, AS is supported, and actually needed when performing JOINs

[2020-02-12 11:51] vi opened #219 "ModuleNotFoundError: No module named '__version__'"
Can't run pre-built Linux version of `q`:

[code]

[2020-02-12 11:56] vi commented on #124
[code]

[2020-02-12 11:57] vi commented on #124
Maybe special table names like `nofile_eee` can be used to signal `q` not to try to read any files?

[2020-02-12 14:05] harelba commented on #219
True, sorry, 2.0.10 is just a workaround against some build issues. I'll fix that.

The official current version is 2.0.9 - Please download it from the web site `http://harelba.github.io/q/`, not from releases

[2020-02-12 14:12] harelba commented on #219
Removed the 2.0.10 binaries from the releases list, and put a message there until it's fixed and a new version is out.

Please use the official installation page in the [website](http://harelba.github.io/q/)

[2020-02-12 14:14] vi commented on #219
Shall 2.0.10 be marked as "Pre-release" on Github? Now it shows green badge "Latest release" on 2.0.10.

[2020-02-12 14:23] harelba commented on #124
@vi The issue is not with reading literal SELECTs (e.g. `q "select 9"` works well in q). CTE syntax itself is not supported because of complications in analyzing the query strings to detect table names.

Perhaps there's a new package for analyzing the SQL in python which can help with this. I'll do some checking.

[2020-02-12 14:24] vi commented on #124
With the diff above some my use cases which required saving temporary CSV files start working without temporary files.

[2020-02-12 14:24] harelba commented on #124
@vi the idea of q is to provide seamless use of SQL, without any need for special casing with other parameters (e.g. user knowledge).

If the CTE use case will get more upvotes, i'd consider it a higher priority for trying to find a proper solution for this.

[2020-02-12 17:39] harelba commented on #219
@vi you're right. Moved 2.0.10 to be a pre-release. thanks.

[2020-02-18 09:22] stagrovin opened #220 "snap install "invalid snap name""
q appears in app search but an error is displayed when trying to install it:

- snap search q
...
q                                    1.6.3-1                  nhandler             -        run SQL directly on CSV or TSV files
..

- sudo snap install q
error: cannot install "q": invalid instance name: invalid snap name: "q"

Maybe it should have more than one letter in snapcraft directory?

Thanks

[2020-02-27 06:58] Shtirla opened #221 "x32 executables for q 2.x.x"
Its posible to make installer or executable
for x32 windows systems? plz

[2020-02-28 10:07] harelba commented on #221
Hi, @Shtirla,

I'm sorry, but currently there's no plan to support 32bit systems. The reason is that there seems to be very little need for that from users.

I'm making this ticket more generic, supporting 32bit systems in general.

If there are enough comments and upvotes, I'd be glad to make the effort.

Harel

[2020-03-06 16:27] federico-piazza opened #222 "[FR] Java client to use Q programmatically"
This Q tool is amazing is there any plan to release a java library to use it programmatically?

[2020-03-21 11:39] EdMUK commented on #124
Modifying the suggestion from @vi so it checks to see if qtable_name refers to a file seems to work and avoids the need for special table names. @harelba do you see any issues with this approach.
[code]

[2020-03-21 13:44] vi commented on #124
@EdMUK Will this lead to trickier error messages in case of misspelled filenames?

[2020-03-21 19:49] harelba commented on #124
Hi, I don't think that checking for an actual file would be the best approach.

However, I'm looking into the "filename escaping" solution that was suggested by @vi a month ago. Something along these lines could prove very useful to solve this issue without too much risk or new development.

This would render q's SQL to be less compatible with standard sqlite3, but together with some command line

[2020-03-21 19:55] harelba commented on #124
I would like to test any solution before actually releasing a version, since the parsing logic is delicate as it is (I always wanted to use a proper AST parser for this, which would have made solving this trivial, but never got to it because the existing solution worked well enough for most cases).

Anyway, I'll create a branch when done, and ask you politely to download it manually and do some te

[2020-03-21 20:35] harelba commented on #124
Pushed an initial PR (#223 ) with a fix, but can't really test it on my computer for dumb reasons. Wanted travis to perform the testing, but it seems to have an issue as well with bringing up the osx containers.

I'll update when it's successful. You're welcome to comment on the fix (and find any holes in it...).

Harel

[2020-03-23 09:22] harelba commented on #124
@vi @mahiki @EdMUK @bitti @anthezium Would any of you mind manually doing some testing on the branch of PR #223 before i merge it?

I don't have much experience with crazy CTE queries, so want to try and make sure that the fix is good enough and doesn't break anything.

These are complicated times, and I'm sure that all of you have a lot on your mind, so obviously that totally fine if you can't sp

[2020-03-23 09:43] harelba commented on #124
My solution is too simplistic there, it will work only for simple use cases.

I'll work towards the filename "escaping" solution, and update.

[2020-04-01 07:02] sergray commented on #181
@harelba it should be straightforward to do Python package, since it is implemented in pure Python and uses standard libraries, so that should not be a problem on Windows.

[2020-04-04 09:20] sesameguy opened #224 "cannot use in Windows 10"
OS: Windows 10 64 bit
Version: 1909

cannot use the program, it show the below error message:
``
INTERNAL ERROR: cannot create temporary directory!
``

[2020-04-05 22:33] harelba commented on #224
can't reproduce it on my (only) windows machine.

Can you go to the command line and run `echo %TEMP%`. Also try to create a file in this folder, to make sure it's not a permission issue.

[2020-04-07 10:40] sesameguy commented on #224
thx, the problem is fixed.
it is because the %TEMP% is placed in ramdisk

[2020-04-07 10:40] #224 closed

[2020-04-08 07:37] scottlawsonbc commented on #220
also having the same issue

[2020-04-08 23:50] rac021 commented on #222
Hi,

This also interests me.

I'm looking for standalone version which can be used in Linux and Windows

Thank's

[2020-04-09 08:37] harelba commented on #222
hi, thanks for the kind words, really glad that you find q useful.

Unfortunately, there are no plans for a java version.

However, I've since the latest version of q (2.0.9), the distributable is a single-binary executable without any external dependencies. It's available for linux/windows and osx. See http://harelba.github.io/q/#installation . Obviously far from being an internal java library, b

[2020-04-09 08:42] harelba commented on #220
I actually haven't published q through snap, so someone else might have done it, or perhaps converted one of the existing rpm/deb packages. It's an older version btw, 1.6 - 2.0.9 is already out, which is a single executable without any external dependencies (not even python itself).

Most probably that you're right about the one-letter naming. I'll try to take a look if it's just a snap metadata l

[2020-04-09 14:00] lazyprgmr opened #225 "Contribute to q"
I loved the idea of this project and want to contribute to it. Do you accept contributors?

[2020-04-09 14:23] federico-piazza commented on #222
@harelba @rac021 Q is a fantastic tool it's a pitty that adding Java is not part of the roadmap.

As far as I know, Q is developed in Python... perhaps you might check if it is supported by JPython and eventually have a Java support.

I have found CsvJdbc project... http://csvjdbc.sourceforge.net/ something similar to Q but for Java, it is nice but I found it more difficult than Q.

That project h

[2020-04-09 14:34] rac021 commented on #222
@harelba @federico-piazza Thank you for your response, I'll try to embed the single-binary executable of **q (2.0.9)** in the java project.

@federico-piazza **CsvJdbc** doesn't support **Join** between tables !

[2020-04-22 15:15] asgerhallas opened #226 "Can't change encoding"
Hi,

On windows, q v2.0.9, no matter which encoding I use except for "utf-8", I get this message:

`AttributeError("'UnicodeDecodeError' object has no attribute 'message'")`

or for some encodings...

`AttributeError("'UnicodeError' object has no attribute 'message'")`

For example when I do this:

`q -tH -e "ascii" "SELECT * FROM data.tsv WHERE titleType = 'movie'"`

What am I doing wrong? :)

[2020-07-24 12:51] rainStone819 opened #230 "errors when processing a line contain quoting"
[code]
the output is not correct

[2020-07-29 14:31] harelba opened #231 "Consider using sqlite "" filename instead of memory"
Check the potential for a speedup through using sqlite3.connect's empty filename mechanism instead of using :memory:

Thanks @michaeljoseph for the idea!

[2020-07-29 14:32] harelba opened #232 "Add "ignore case" flag to speed up and simplify case-insensitive queries"
Thanks @michaeljoseph for the idea!

[2020-07-29 14:33] harelba opened #233 "Add `--pipe-delimited` flag to simplify command line escaping"
Thanks @michaeljoseph for the idea!

[2020-07-29 14:33] harelba opened #234 "Re-add md5 user function"
Please add in the comments any more user functions which might be of interest for you.

Thanks @michaeljoseph for pointing the need for this.

[2020-08-28 11:52] uahim opened #236 "Additional double quote escaping issue"
[edited text and headline]

I am not quite getting the   --disable-double-double-quoting and --disable-escaped-double-quoting options. My simple database has e.g.

`McGuiness Flint;When I'm Dead And Gone/Lazy Afternoon;7";1970`

And when I run any query, the `7"` is displayed as` "7"""`
`q -d";" -E"UTF-8" -D" - " "select * from records.csv"`
(My version is 2.0.9 on Windows)

Tried wrapping the dat

[2020-09-01 14:31] mosheduminer opened #238 "Windows installation wipes user path"
I installed `q` last night on my windows 10 laptop, and it was really cool. This morning, however, I discovered my user path wiped, with only `q` in the path. This is a significant problem for (and will probably not be appreciated by) anyone using windows.

[2020-09-03 08:46] workflowsguy opened #239 "Running "q" fails with "ImportError: No module named six.moves""
Installed `q` with `brew install q` -> installs version 2.0.11

Running `q` fails with
[code]

Running `pip list` shows

`six                                    1.15.0`

[2020-09-03 12:58] harelba commented on #239
Thanks for reporting this. It's an bug in the brew formula for the new version of q. I am planning to fix it soon.

Can you please try to install one of the older versions of q through brew by running "brew install q@1.7.4" or "brew intall q@1.7.1" and tell me if works or not?

I'll try to properly fix it as soon as possible.

Really sorry for the inconvenience

Harel

[2020-09-03 17:03] workflowsguy commented on #239
Unfortunately, trying to install either one of those results in an error:
[code]

Thanks!

[2020-09-08 13:25] harelba commented on #239
Thanks, I'm working on the solution. I'll update here when done

[2020-09-09 23:43] harelba commented on #239
PR in homebrew with a proper fix. Hopefully will be approved soon - https://github.com/Homebrew/homebrew-core/pull/60861

[2020-09-10 13:20] harelba commented on #239
PR in homebrew merged.

`brew install q` works properly now (version `2.0.16`). Run `brew uninstall q` and then install again.

Please let me know if you have any issues.

Thanks for reporting this and for the patience.

Harel

[2020-09-10 13:20] #239 closed

[2020-09-10 13:23] harelba commented on #238
The path issue is very odd, as 30% of q's installations are on windows and I've never heard about this before, and the issue doesn't happen on 2 windows 10 machines I've tested it with.

I've just released a new version `2.0.16`. It would be awesome if you can check it out and see if the problem happens again.

Thanks for reporting this
Harel

[2020-09-10 13:28] mosheduminer commented on #238
The path remains unaltered (aside from adding q to the path again), when I install the new version. I agree, it does seem rather odd. Thank you for looking into this. 🙂

[2020-09-10 13:52] harelba commented on #225
Sorry for the too-late response, i missed this issue.

Of course contributions are more than welcome.

You are welcome to discuss with me over email or here before actually implementing something so we can make sure things are in alignment with the roadmap and concepts.

[2020-09-10 14:55] harelba commented on #236
Hi, sorry for the late reply,

The reason you're getting this is because the default output-wrapping mode for q is `minimal` (there are `none`, `nonnumeric` and `all` as well).

If you add `-W none` to the command, the output will be as you expect it to be:
[code]

I'll try to explain why.

`minimal` output-wrapping mode means that whenever there's a string which contains real double-quotes, it wi

[2020-09-10 14:55] #236 closed

[2020-09-10 14:57] harelba commented on #238
Thanks for the reply, i'm glad it helps.

If this happens again, don't hesitate to reopen the ticket.

[2020-09-10 14:57] #238 closed

[2020-09-10 14:59] harelba commented on #226
hi, sorry for the too-late reply, crazy times

could you please provide some more information about your system, and perhaps an example file (just the first few lines, or a synthetic file which recreates the issue) so i can investigate?

[2020-09-10 14:59] #225 closed

[2020-09-10 15:00] harelba commented on #221
Closing the ticket, as no other requests have been added.

[2020-09-10 15:00] #221 closed

[2020-09-10 15:01] harelba commented on #219
Fixed all the versioning issues, and issues `2.0.16` which fixes this problem - Please download and install it from the website. The issue should not happen anymore.

[2020-09-10 15:01] #219 closed

[2020-09-11 08:41] harelba commented on #214
Hi, sorry for the too-late reply, crazy times.

The default output-wrapping mode of q is "minimal", which should have detected multiline-strings and quote them.

This wrapping mode should have detected the multiline string and quote it, and it doesn't. I'll try to see if this can be easily fixed.

In order to prevent the issue in the mean time, you can use `-W all` or `-W nonnumeric`, and the outp

[2020-09-11 08:48] harelba commented on #214
yes, this is easily fixable. I'll integrate the fix into the next release

[2020-09-11 09:24] harelba commented on #230
Hi, sorry for the late reply,

This is related to the fact that the default input-quoting mode is `minimal` - If you set the input quoting to `-w none`, it will read the file properly.

Indeed, I would expect q to fail in the case you mention above, since there's no closing quote to the end of value, just an opening one. I'll check this out.

[code]

[2020-09-11 09:37] harelba commented on #230
seems to be a bug in the csv module in python itself, which means that it would be a challenge to work around - https://bugs.python.org/issue30034

I'll do some checks and see if there's something that can be done

[2020-09-11 09:51] harelba commented on #212
Fixed in the new release 2.0.16

[2020-09-11 09:51] #212 closed

[2020-09-11 10:04] harelba commented on #201
Missed that issue completely, sorry.

No need for any donation, i'll check this out and try to see if it can be implemented properly without breaking things.

[2020-09-11 10:18] rainStone819 commented on #230
Hi, thank you for your reply，

Not using csv module can fix this bug, but it breaks other valid q usages.
The changes are as follows and use `-W none` :
![image](https://user-images.githubusercontent.com/12018806/92910615-c9e9d400-f45a-11ea-8feb-203995d8bb8b.png)

[2020-09-11 10:22] harelba commented on #172
Newest release is fully py2/3 compatible, and is packaged in a new way that eliminates the need for dependencies (in linux/windows there's no need even for python itself). These errors should not happen any longer.

[2020-09-11 10:22] #172 closed

[2020-09-11 13:51] harelba commented on #230
Hi @rainStone819 the csv module provides a lot of very complicated functionality for reading CSVs, just replacing it with a .split() would break a lot of the current logical behaviour.

[2020-09-13 12:03] #208 closed

[2020-09-13 13:38] harelba commented on #151
Added a flag to show all user-defined-functions added by q. Will be released in the next version.

[2020-09-15 07:02] workflowsguy commented on #239
My preliminary tests show that it is working again.

Thanks!

[2020-09-23 22:29] harelba commented on #234
Added in the new 2.0.19 release that was just published

[2020-09-23 22:29] #234 closed

[2020-09-23 22:30] harelba commented on #233
Added `-p` and `-P` flags in the new 2.0.19 release that was just published

[2020-09-23 22:30] #233 closed

[2020-09-23 22:30] harelba commented on #232
will be done now that I've consolidated q's benchmark, so it will be easy to reason about the changes.

[2020-09-23 22:31] harelba commented on #231
will be done now that I've consolidated q's benchmark, so it will be easy to reason about the changes.

[2020-09-23 22:31] harelba commented on #214
Fixed in version 2.0.19 which has just been released.

[2020-09-23 22:31] #214 closed

[2020-09-23 22:34] harelba commented on #150
Added `sqrt()`, `power()`, `stddev_pop`, `sha` (allows choosing the sha algorithm), `md5` functions.

Also added `-L` flag to list all user functions

[2020-09-23 22:34] #150 closed

[2020-09-23 22:34] harelba commented on #150
Added functionality just released as part of 2.0.19

[2020-09-23 22:35] harelba commented on #234
btw, added more functions, and also a `-L` flag to list all functions along with their parameters.

[2020-09-23 22:36] harelba commented on #104
fully supported for both python 2 and 3 as part of 2.0.19.

[2020-09-23 22:36] #104 closed

[2020-09-23 22:37] harelba commented on #81
python3 is now fully supported, and provided out-of-the-box for linux/darwin (standalone binary executable which self-contains python3 - no need for any external dependency).

[2020-09-23 22:37] #81 closed

[2020-10-01 07:32] uli-heller opened #243 "virustotal: Warnings related to q-x86_64-Linux for version 2.0.19"
I downloaded version 2.0.19
and fed it into virustotal.
I'm getting these:

![image](https://user-images.githubusercontent.com/1677414/94780602-01e49700-03c9-11eb-8e42-0730c607f082.png)

Do I have to be concerned?

Thx, uli

[2020-10-01 07:38] uli-heller commented on #243
I'm getting the same warnings for older versions, too

[2020-10-01 07:50] harelba commented on #243
@uli-heller thanks for reporting this.

There's definitely no need to be concerned :) The source code is fully open and q doesn't even access the network at all. Perhaps it's related to pyinstaller's way of packaging.

I'll take a deeper look at it to see how these warning can be eliminated.

[2020-12-02 12:36] avdv opened #244 "`replace` function does not work for spaces"
Hi.

I am using q 2.0.19.

[code]
Seems like replace works more like consecutive spaces are reduced to one before searching:
[code]
Tried this in the sqlite3 console and it works as expected.

[2020-12-10 12:24] Dialga opened #247 "query error: no such table:"
`select * from file.csv` works but
`select*from file.csv` doesn't work, which works in sqlite.

[2020-12-10 17:13] harelba commented on #247
true, and interesting. I'll do some testing.

[2020-12-10 17:19] harelba commented on #247
This is a limitation because of the way q parses the sql queries (It expects a space before the FROM part).

This would work:
[code]

There are no plans to fix this, as this is very complicated relative to the gain.

[2020-12-10 17:19] #247 closed

[2020-12-23 21:12] contentfree opened #248 "Documentation Request: Please list encodings supported"
Please add documentation about the encodings supported. I tried `iso-8859` and was given `Encoding iso-8859 could not be found`. What is the list of encodings?

[2021-01-11 03:11] KevinColemanInc opened #249 "Delimiter must be one character only"
q rejects the delimiter '≫'

[code]
version:
[code]
Python 2.7.17

[2021-01-14 11:14] christophgysin commented on #226
Here's an example:

[code]

[2021-01-14 11:20] asgerhallas commented on #226
(@harelba sorry for my late reply too. I missed yours it seems, but @christophgysin's message got me in here again)

[2021-01-15 14:04] harelba commented on #249
Hi,

This is related to the fact that you're using python 2 and not 3, combined with the fact that you're using an older version of q (1.7.4). The reason is related to how python 2 (mis)handles encodings.

[code]

Starting from version 2.0.0 of q, the executable is standalone (even python itself is not needed) and inherently contains python 3 as part of it.

Please install the latest version and t

[2021-01-15 14:04] #249 closed

[2021-01-15 14:05] harelba commented on #248
The encodings supported are all the encodings that python support, but I agree, q has to be able to show which ones are available.

I'll add it to the next release.

[2021-01-15 14:23] harelba commented on #226
This character is on the upper half of ASCII, and the standard ascii encoding in python doesn't support that other half.

Use the `iso-8859-1` encoding, it's kind of an extended ASCII which supports the upper half of the characters.

[code]

[2021-01-15 14:23] #226 closed

[2021-01-15 14:25] harelba commented on #210
q 2.0.19 is already out, with all the relevant fixes.

[2021-01-15 14:25] #210 closed

[2021-01-15 14:41] harelba commented on #180
Missed this ticket by accident. Reanalysed it, it's indeed a bug, small effort to fix. I'll integrate it into the next release.

[2021-01-27 06:16] ftrotter commented on #94
Hi, it would really help the documentation if the mention that you needed to use double quotes and single quotes this way was added to a specific example. It took me quite a bit of counter-intuitive digging to reach this ticket, although now that I have, I am very happy to have a solution that fixes my problem.

FYI for those seeking via google, the error I got was

`query error: near "FROM": synt

[2021-01-27 12:52] bitti commented on #94
I might be good to give a warning in the documentation since backticks have a high probability to be used in `q` and the vast majority of UNIX shells will evaluate them as subcommands if not properly quoted. But `q` really doesn't have anything to do with the shell behaviour, e.g. if you use the `fish` shell you won't have this issues even with backticks in double quotes because it doesn't evaluat

[2021-02-22 17:07] vi commented on #124
Is filename escaping implement in some form?

[2021-04-07 14:37] lodenrogue opened #251 "How to uninstall?"
I installed this package a while ago with:

[code]

But I can't seem to uninstall it. Below command does not remove it:

[code]

[2021-04-26 07:08] pkoppstein commented on #248
In the section on encoding, the online q documentation page advises:

Since the issues I ran into are closely related to this particular Issue, I thought it might be better to add a comment rather than create a new issue.

In a nutshell, the following boils down to three requests:

**(1)** Documentation clarification:

The documentation for `-e` says:

"Input file encoding. Defaults to UTF-8. set

[2021-04-26 07:19] pkoppstein opened #252 "ER: allow null header values, at least for right-most columns"
I wish to use q with some very large TSV files, the header line of each of which has trailing tabs corresponding to certain deliberately unnamed columns.

It would of course be possible to copy these files and add dummy headers, but that would be something of a hassle in various ways, so I would like to request an enhancement so that some reasonable default behavior is supported that would allow q

[2021-04-29 16:16] harelba commented on #252
This is supposed to be supported by using the `-c N` parameter:

[code]

The default parsing mode is `relaxed` so this should work in the default mode. As you can see above, in `strict` mode, this throws out an error.

If this doesn't work properly, can you please provide an example file with an identical structure (few lines of data would suffice)?

[2021-04-29 16:19] harelba commented on #251
I'm actually only providing a `deb` package for manual download, and haven't really introduced q into any official debian repository, so i'm not sure which installation this refers to (uninstalling manually using dpkg works). This is probably someone else pushing q into some kind of debian repository.

Can you please provide some more information about the linux version and the q version that is b

[2021-04-29 16:23] harelba commented on #248
These are interesting issues @pkoppstein . thanks for reporting them.

I'll answer one by one:
1. Which python version are you using? I believe that the `none` encoding is a leftover from python 2, and is not supported. I'll add some changes to reflect that, both in the code and in the docs.
2. It seems that the python encoding for `iso-8859` is `iso-8859-1`. I'll add some code to alias it, could

[2021-04-29 16:25] harelba opened #253 "Running without choosing encoding on an iso-8859 file fails with a traceback"
The `AttributeError("'UnicodeDecodeError' object has no attribute 'message'")` is being written to stderr, instead of a proper encoding warning.

[2021-04-29 20:24] pkoppstein commented on #252
Thanks for your response.  Even if the -c option resolved the issue, it would in my opinion still be better to adhere to "Postel's law".

As it happens, though:
[code]

I've also tried various variations with the -m option....

[2021-04-29 20:33] pkoppstein commented on #248
[code]

Yes, q accepts iso8859 and iso-8859-1, but since`file` reports ISO-8859, "Postel's Law" would be applicable :-)

[2021-04-29 21:08] pkoppstein commented on #248
This sounds like very good news, but I am also wondering whether your evidently enormous talents aren't
slightly misdirected.  My concerns are inter-related but it
might be useful to separate them:

1) q is built on feet of clay (python); as long as that is true, it will mean
sqlite3 (and perhaps other alternatives) will be significantly faster.

2) sqlite3 seems to do just about everything that q

[2021-04-30 02:06] lodenrogue commented on #251
I replaced the OS on that computer so it's not longer a problem for me. But looking at apt I see this:

[code]

[2021-04-30 05:00] bitti commented on #248
Isn't that critique rather misdirected? To my understanding `q` is build on sqlite3, the python part is "merely" a wrapper. At the same time `q` doesn't try to do everything sqlite3 does, because `q` is about textfiles, but being based on sqlite3 it will be "in-memory" by nature (even if it would add a feature to persist it to a file). Of course one shouldn't process TB of data with `q`, but I fou

[2021-04-30 06:19] pkoppstein commented on #248
@bitti - Your remarks strongly suggest you are simply not familiar with the sqlite3 "command line shell" (https://sqlite.org/cli.html), and in particular how (extremely) easy it is to use to process CSV/TSV files.

Suffice it to say here that if q were based on sqlite3, (a) it would not have the (nicely documented) severe restrictions that it does have; (b) it would not be so much slower than sqli

[2021-04-30 07:01] harelba commented on #252
This is actually a different use-case. It's not that the number of headers is smaller than the data, it's a case where the actual name of a header is an empty string (due to the header row ending in a `\t`).

This is indeed not supported currently, and q could benefit from having such an option. I'll take a look.

[2021-04-30 13:54] harelba commented on #248
@pkoppstein Thanks for your comments and kind words. I'll share my view on this here.

q's goal from my perspective is to provide a "product" layer above the amazing sqlite database. As such, it tries to provide ease-of-use, seamless integration with other command line tools and concepts, and freeing the user from dealing with data loading and schema management. It is not meant to replace distribu

[2021-04-30 14:43] pkoppstein commented on #248
@harelba - I'm glad you did not misunderstand my remarks, though I am now doubly concerned as it seems you too might not fully appreciate the brilliance of `sqlite3`.  Let me therefore illustrate how easy it is to use the sqlite3 shell to execute an arbitrary SQL command supported by sqlite3, against a CSV file with headers (say, "v1,v2,...."):
[code]
It would obviously be trivial to write a simpl

[2021-05-01 19:37] harelba commented on #248
As I mentioned above, I believe sqlite is an amazing database, and that includes its CLI. I haven't made a comprehensive comparison between them, but I believe each has its pros and cons, based on the use-case at hand.

Regardless, as my current effort is directly related to that subject, I would be very glad to discuss this further and get your view on this once I release the new version.

[2021-05-02 21:22] cmungall opened #254 "Add option to output column headers"
q is a marvelous tool, thank you!

One thing that would be very useful is an option to emit column headers in the output, analogous to `-H` for input. These would be based on either the column names in the select, or aliases provided. Amongst other things this would allow composability of inputs and outputs.

E.g.

 * `SELECT * FROM my.tsv` ==> preserves original columns
 * `SELECT a,b FROM my.tsv

[2021-05-03 00:57] bitti commented on #254
Did you overlook the `-O`/`--output-header` option?

[2021-05-05 13:52] TheFive opened #256 "Windows Installation on shared machines"
Is there a possibility to use Q on a windows (terminal) just by copying it to a separate folder.
(of course then you have to use the full pathname all the time).

I would like to use it in a shared environment without any possible conflicts with other user and path configurations.

[2021-05-05 13:52] TheFive commented on #256
(so just a ZIP file with an uncomfortable start of Q with path)

[2021-05-07 15:44] TheFive opened #257 ""query error: no such function: IIf" on Windows"
I am developing on a mac, q version on mac:
[code]
and delivering on windows, q version here:
[code]

My SQL are working well on mac, but on windows i get the following error
[code]
Is it an installation problem ? (the windows version working with a lower python version ?)

Is there a quick fix? as an alternative i have to change 45 ```IIf``` ' s to ```CASE WHEN X THEN Y ELSE Z END```, which sound

[2021-05-08 18:42] harelba commented on #257
This is interesting. python itself is embedded inside q's packaging so the installation would be identical across platforms and won't require installing/polluting the system python.

I was under the impression that I'm fixing the minor python version as well as part of the packaging, but it seems that that's not the case.

This probably happens because of the sqlite version that's being installed

[2021-05-08 20:39] TheFive commented on #257
thanks for feedback, i have choosen to realize my workaround, so i am fine now.

i have found in SQLLite documentation:

SQLite introduced the IIF() function since version 3.32.0.

[2021-05-27 14:04] suliuzh opened #258 "version requirements for six should be consistent?"
Hi
It seems that version requirements for six in setup.py and mkdocs/requirements.txt are not consistent
In setup.py, it is six==1.11.0
In mkdocs/requirements.txt, it is six==1.14.0

I am wondering if it is necessary to update the version requirement in 'mkdocs/requirements.txt' to be consistent.

[2021-05-28 20:06] harelba commented on #258
the mkdocs folder is isolated from the q runtime, it's just used for generating q's web site, so there's no need for consistency.

[2021-05-28 20:06] #258 closed

[2021-06-05 08:07] darryllee opened #260 "Problem where value in column matches column name"
Problem was driving me crazy until I realized what it was and I worked around it by renaming the **Admin** column to **Administrator**:

**example.csv:**
[code]
`% q -H -d ',' 'select space,id from ./example.csv where id not in ("sysadmin","admin")'`
[code]
Even a simple query comes up empty:
`q -H -d ',' 'select space,id from ./example.csv where id="admin"'`

Fully quoted CSV has the same issue.

[2021-06-06 08:05] harelba commented on #260
@darryllee thanks for reporting this.

This is indeed a crazy one :)

The root reason for this is the fact that sqlite (the engine behind q) handles double-quoted strings as identifiers first, and only then falls back to a string literal.

Converting the queries to use single-quotes for string literals forces sqlite to treat them as string-literals:

[code]

Notice that the string-literals are sur

[2021-06-06 08:05] #260 closed

[2021-06-06 08:06] harelba commented on #260
The reference to sqlite's docs about this subject - https://www.sqlite.org/quirks.html#double_quoted_string_literals_are_accepted

[2021-06-06 14:45] darryllee commented on #260
Ahhh. <headslap>. Quoting.

Thank you! And more generally, thank you for q. It is truly a game-changer
for a lot of work I've been doing lately!!

On Sun, Jun 6, 2021 at 1:06 AM Harel Ben-Attia ***@***.***>
wrote:

--

--Darryl Lee ***@***.***>

[2021-06-09 08:12] cocoonkid opened #261 "[Feature request] Release AUR package"
[Feature request] Release  AUR package.

Or are there Build instructions around? Unfortunately I failed to find them.

Thanks you in advance for guidance.

[2021-06-12 13:30] rvanlaar opened #262 "Mention Python version for installing sqlitebck"
I installed sqlitebck, but I can't use the 'fast' storage method.
It seems to have to do that `q` uses a different python version.

Please mention the right python version to use in the docs.
[code]
q output:
[code]

And pip3 installation output:
[code]

[2021-06-12 13:57] rvanlaar opened #263 "Show lines not imported in the database"
First of, q is a great product. It allows me to read a huge file, 5GB, without Out of Memory errors.

I'm missing around 20K lines between what `wc -l` gives me and `select count(*) from file.csv` in 'q'.

What gives, and how can I find out which lines are problematic?

[2021-06-14 17:41] harelba commented on #263
Hi @rvanlaar sorry for the late response.

This is an interesting case, since q is supposed to throw an error if there's an issue with parsing/reading the data.

I wouldn't ask you to send actual data to me, but it would be great if you could narrow it down to specific sets of lines, so we can understand the issue better.

My suggestion is to use the following method:
1. Run `export MYFILE=myfile

[2021-06-14 17:43] harelba commented on #262
Thanks for finding this. I'm going to release a new version of q some time soon, and this issue with be fixed there.

Unfortunately, q's currently packaged with a self-contained python version, so installing sqlitebck inside it is impossible, i'm afraid.

[2021-06-16 11:52] harelba commented on #261
q's build and packaging is somewhat complex (and definitely not the cleanest flow around unfortunately). I have never created an AUR package for q, but I think that someone has done it independently at some point, not sure if it's the recent versions.

I'm going to release a new major version of q soon, and perhaps I'll need to make some changes in the build/packaging flow. If that would be the ca

[2021-06-16 13:07] djacob65 commented on #146
Hi,

It seems that the limit issue is not completely solved.
Indeed, try this URL
https://pmb-bordeaux.fr/getdata/query/Atacama/(samples,lcms_esi_pos)?format=xml&debug=1
The lcms_esi_pos file has 1976 columns and the query works well.
Now, try this URL
https://pmb-bordeaux.fr/getdata/query/Atacama/(samples,lcms_esi_neg)?format=xml&debug=1
The lcms_esi_pos has 2564 columns and we obtain an error:
"

[2021-06-17 07:09] djacob65 commented on #146
After some tests, it seems that there is a limit in the number of columns not to be exceeded i.e. 2000 in total i.e. with one or more files.
Thus, the 'samples' file having 12 columns, a query combining it with the lcms_esi_neg file, forces to limit the number of columns to 1989 (1989+12 = 2000 + 1 for linking).
Whereas the lcms_esi_neg file alone allows to go up to 2000 columns.

[2021-06-17 08:48] djacob65 commented on #146
In fact the limitation in the number of columns is set by sqlite3: https://www.dbtalks.com/tutorials/learn-sqlite/what-are-the-limitations-of-sqlite.

Is it possible to change it and put 5000 or even 10000 ?

[2021-06-17 13:56] djacob65 commented on #146
By installing sqlite3 from source and changing the value of SQLITE_MAX_COLUMN in the file src/sqliteLimit.h (i.e. 32767), then queries on tables beyond 2000 columns work now very well. :-)

[2021-06-17 15:00] djacob65 opened #264 "AttributeError("'dict' object has no attribute 'iteritems'")"
When I use the options  -S dbtmp --save-db-to-disk-method=fast, I obtained this error:
AttributeError("'dict' object has no attribute 'iteritems'") whereas without them, the query works fine.

my config:
python 3.7 / sqlite3 3.36.0 (compiled from source in order to change the max columns limit)
both sqlitebck and six python modules  installed
q version 2.0.19, running from source (q.py)

[2021-06-18 07:41] djacob65 commented on #264
The method "iteritems" has been removed from python3. We have to replace it by 'items'.
So, after replacing it at the line 302 in the function 'store_db_to_disk_fast', the error does not occur anymore.

line 302: table_names_mapping.iteritems() changed by table_names_mapping.items()

However, it still doesn't work with the -S dbtmp.db --save-db-to-disk-method=fast options and I don't know why. I g

[2021-06-18 08:16] harelba commented on #264
Hi @djacob65 , thanks for reporting this. It's indeed a bug. I'm sorry I can't provide an immediate solution for this, but i'm releasing a new major version of q in the coming weeks, which touches this area as well, and this issue will be fixed in that new version.

[2021-06-18 09:02] djacob65 commented on #264
@harelba thank you for your reply

On my side, I have made more investigations

this command
/usr/bin/q -H -O -t -e iso-8859-1 -S dbtmp.db --save-db-to-disk-method=fast "select * from Sample_metadata.txt"; echo $?

returns no data with a zero code error and the message

Going to save data into a disk database: dbtmp.db
Data has been loaded in 0.016 seconds
Saving data to db file dbtmp.db
Data has

[2021-06-19 07:03] harelba commented on #264
Thanks for continuing to analyse this @djacob65

The only reason i'm not rushing into finding the root cause and fixing this is because my current changes (the ones which will go out soon) touch this area specifically, and will probably provide a solution for this use-case and many others in a more seamless way. Also, the packaging for q is not really seamless unfortunately, so getting out a new v

[2021-06-19 07:49] djacob65 commented on #264
@harelba  No worries, I understand.  On my side, I've solved my issues. :-)

[2021-06-21 07:38] yuluc1234 opened #266 "Is wrapt a unused dependency?"
Hi
There seems to be no code in the source code that uses the dependency- wrapt, is it necessary for the project to work?

But in mkdocs/requirements.txt, wrapt is still listed as a pinned dependency.

So should wrapt remove from the configuration file?

[2021-06-21 10:07] rvanlaar commented on #263
Hi @harelba

I wanted to give you an update. I switched over to using pandas to do the import, which does import all the lines. So, for us it's not an urgent problem any more.

This problem still got my attention. I hope to find some time to follow your advice for the imports.

Roland

[2021-06-26 07:31] harelba commented on #266
Hi,

The requirements in `mkdocs/` contains dependencies that are needed in order to generate q's site, they're not packaged with q itself.

[2021-06-26 07:31] #266 closed

[2021-06-27 13:55] Pantos opened #268 "How to use NOT LIKE in query?"
I'm very happy to find q to query my csv files. But how can I use NOT LIKE in a query? At the moment it doesn't seem to affect my results when I put it in the WHERE clause. Can anyone give me a hint?

[2021-07-11 14:25] greymd opened #269 "format option does not work"
Hi,
The format option does not work correctly at the latest version 2.0.19.

As documented here,
https://github.com/harelba/q/blob/master/examples/EXAMPLES.markdown

But the actual behavior is like below.

[code]

[2021-07-13 10:07] harelba commented on #269
thanks for letting me know @greymd ! i'll take a look at it.

[2021-08-28 21:23] JiFish commented on #118
I'm not sure if this project is still in active development, but I found it very useful so thank you. But the default delimiter did catch me out.

If auto-detection is far off, I would also +1 changing the default. I know, people should RTFM, but the other posters are right that this is going to be 90% of people's use cases.

Anyway, thanks for the software.

[2021-08-29 12:06] harelba commented on #118
Hi, thanks @llagerlof about the post, and everyone for responding.

The reason for space being the default delimiter is because of very old backward compatibility reasons.

I'm just finishing a very large change in q (v3), which will provide a lot more functionality, but will break full-blown backward compatibility for some minor things.

Hopefully, I'll be able to implement the delimiter autodete

[2021-09-03 14:31] clsn commented on #253
This is because the program handles a ValueError by catching it and printing out the message attribute, but UnicodeDecodeError is a subclass of ValueError and lacks a message attribute.  UnicodeDecodeError needs to be caught before ValueError.  Will try to file a PR soon.

[2021-09-26 09:55] harelba commented on #269
hi, sorry for the late reply, too many things in life in parallel :)

This is indeed a bug that started when moving to python 3, since this feature doesn't abstract the python implementation details properly.

I'll fix it soon after a new release is out.

In the mean time, if you need to use this feature, you can change the formatting to python3 standard:

[code]

[2021-10-21 18:32] harelba opened #281 "q `3.1.1-beta` BETA Version Feedback - Download Links Inside"
Hi, I'm releasing a beta version of 3.1.1, which is a very large version, both in features and with a new packaging mechanism. Details and Examples are [here](https://github.com/harelba/q/blob/master/QSQL-NOTES.md#new-beta-version-310-beta-is-available)

You're more than welcome to download and test it out in [the pre-release](https://github.com/harelba/q/releases/tag/v3.1.1-beta).

I'd really app

[2021-10-22 16:50] hho opened #283 "Release notifications"
Before, I subscribed to only the releases of this repository – and all was well!

But now I get a release notification for every new commit on `master` ("Next release development build").
Can I suggest to do the CI for `master`, but not make a GitHub release?

[2021-10-24 00:54] hho commented on #283
OK then :frowning:

[2021-10-24 00:54] #283 closed

[2021-11-06 15:00] uli-heller commented on #281
My observation is that the size of the linux binary somehow exploded:

- 2.0.19: 11M
- 3.1.1: 82M

I do like small binaries ;)

[2021-11-07 06:50] harelba commented on #281
@uli-heller true, size has indeed increased in the new packaging. Since this version is very large in terms of features, I'm planning on fixing that in the next release.

Thanks for commenting on this

[2021-11-27 08:18] harelba commented on #281
official 3.1.6 is out, closing this

[2021-11-27 08:18] #281 closed

[2021-11-27 08:22] harelba commented on #268
[code]

Hope that helps.

Btw, if you're in windows, then the `%` signs have special meanings, perhaps you'd need to escape them.

[2021-11-27 08:22] #268 closed

[2021-12-02 09:38] harelba commented on #243
New version of q is out, packaged with pyoxidizer. Tested all artifacts on virustotal - No issues at all.

Screenshots:

![Screen Shot 2021-12-02 at 11 34 53](https://user-images.githubusercontent.com/985765/144395715-cd37a13b-d425-4a2c-9071-d7a9839afe44.png)
![Screen Shot 2021-12-02 at 11 35 21](https://user-images.githubusercontent.com/985765/144395768-9d3c80d6-8357-471f-abcb-6c8c2beed496.png)
!

[2021-12-02 09:38] #243 closed

[2021-12-02 09:39] harelba commented on #180
Next release is out. Many files are supported now.

[2021-12-02 09:39] #180 closed

[2021-12-02 09:42] harelba commented on #157
New version is out (`3.1.6`), which contains an automatic caching mechanism. This mechanism improves querying speed by two orders of magnitude for large files (~2 seconds query instead of ~5 minutes for a file of 4.8GB).

[2021-12-02 09:45] harelba commented on #109
New release is out (version `3.1.6`), which is distributed as a standalone binary that requires no system python at all (compiled with python 3.8 behind the scenes).

Currently only deb and rpm are provided through the build, but it's now easy to add any other architecture that `fpm` supports. If there's still a need, I'd be glad to generate them as well.

[2021-12-02 09:45] #109 closed

[2021-12-16 06:27] unphased opened #289 "Can't get character groups (`[]`) to work"
Here's an example:

`echo $'1,fE+2,a\n2,2E+2,b' | q -d, 'select * from - where c2 like "%[2]E+2"'`

That doesn't work, I can't get any `[]` to work, even when escaped with a backslash. It's not clear if this is simply a missing feature or what.

[2021-12-16 08:46] bitti commented on #289
I suppose you're confusing pattern matching via `like` with regexp matching? The SQLite `like` operator only supports the `%` and `_` wildcards and has nothing to do with regexp (e.g. see https://www.sqlitetutorial.net/sqlite-like/). However if the regexp extension is active, you can use the `regexp` operator. E.g. this is working for me:

[code]

[2021-12-16 16:49] harelba commented on #289
thanks @bitti for the answer. Indeed the regexp syntax can be used for such a use-case.

[2021-12-16 16:49] #289 closed

[2021-12-16 17:40] unphased commented on #289
Thank you for the clarification!

[2022-01-06 17:04] InCogNiTo124 opened #290 "Migrating from optparse to argparse"
As per the Python docs:

[code]

[2022-01-06 17:06] InCogNiTo124 commented on #290
If the owner decides it could be done, I would be happy to do it

[2022-01-06 18:58] harelba commented on #290
@InCogNiTo124 Thanks, that would be great! I would really appreciate that.

Kindly, please try to make sure that the diff on the PR is easy to reason about, so we can make sure there are no semantic differences between the way q parses parameters after the change. Backward compatibility is of paramount importance - there are too many users which rely on it for both manual and automated use-cases.

[2022-01-06 19:22] InCogNiTo124 commented on #290
I will do my best!

[2022-01-07 23:08] InCogNiTo124 commented on #290
JSYK `pytest==6.2.2` is broken for python3.10:

[code]

the solution was to upgrade it to `pytest==6.2.5`

[2022-01-20 03:18] ninjachen opened #292 "q can't be installed by brew(OSX)"
Hello I can't install q in brew, because "pyoxidizer" can't be found.
Any suggestion to let me install q on mac?

[code]

[2022-01-20 08:10] harelba commented on #292
Hi, thanks for notifying on this.

It's very odd actually, since I've checked and pyoxidizer is still in brew, both from the command line, and from their web page.

Would you mind running brew again with `--verbose`/`--debug` and send the output here? Perhaps we'll be able to understand the root cause for this.

btw - Which OSX version do you run on?

As a temporary workaround, you can download ma

[2022-01-22 19:10] #290 closed

[2022-01-24 17:45] harelba commented on #292
@ninjachen can you please check if the problem still happens? If yes, it would really help me to get the brew output with verbose/debug so i can make sure it doesn't happen.

[2022-01-24 19:37] ilessing commented on #292
I encountered this while using Homebrew to do a Python 3.10 install/upgrade

Later as Homebrew was upgrading more dependencies console displayed:
[code]
When Homebrew completed I ran:  `brew info q` and it replied:

[code]
and I'm able to use `q` to query CSV files as before.

#### My System: MacOS Catalina
[code]
I  recently upgraded from MacOS 10.14 Mojave.

I hope the above info is helpful.

[2022-01-24 20:47] harelba commented on #292
ah, thanks! Now i see. It's not related to the new installation of q, it's related to the old one.

The error you're experiencing is a result of homebrew-core deprecating the old version of q too soon.

`brew uninstall q` before installing python 3.10 should I believe solve this (perhaps with the `--force` flag, since there seems to be some inconsistent state there in the behaviour of homebrew).

[2022-01-24 20:58] ilessing commented on #292
Awesome @harelba!  Now I understand.  Thanks for explanation.

[2022-01-26 13:37] ninjachen commented on #292
Sorry for the late reply @harelba , I'm using macOS Big Sur v11.4, here is the debug info

[code]

If you need anything more, plz let me know.

[2022-02-02 17:43] weishengkui opened #294 "Error result when text content is C1,C2...."
CONTENT:
[code]

`q -t 'select count(distinct(c1)) from CEFR.txt where c2 = "C1"'
`
result:
0

[2022-02-02 19:08] harelba commented on #294
wow, that's an interesting bug... thanks for reporting it. I'll take a deeper look

[2022-02-04 22:03] jthomerson opened #295 "q installation via brew requires a full Xcode installation?"
Is there any way around this requirement? I have the Xcode CLI tools installed, but I really don't want to have Xcode itself installed since I have no use for it. I really want to use your tool, but not at the expense of having Xcode installed.

Or is there a Docker container with q in it? I could also install it that way if needed.

Thanks for the help!

[code]

[2022-02-05 10:11] harelba commented on #295
Hi, thanks for opening this ticket.

First, I imagined that some people might have an issue with that, so a quick way to work around this - You can manually download the macos-q executable that resides in the release assets ([https://github.com/harelba/q/releases/download/v3.1.6/macos-q](https://github.com/harelba/q/releases/download/v3.1.6/macos-q)).

Download and rename it, `chmod +x` the file s

[2022-02-07 07:15] ninjachen commented on #292
Since the issue is caused by pyoxidizer and I created https://github.com/indygreg/PyOxidizer/issues/501.
I want to close this issue.

[2022-02-07 07:15] #292 closed

[2022-02-07 23:54] harelba commented on #294
Hi, sorry for the late reply.

The reason that the query returns 0 as the result is due to the fact that the string literal `C1` is double-quoted and not single-quoted. In sqlite (the underlying engine/syntax of q), double-quoted strings are treated as identifiers (e.g. column names in this case), and not as string literals, which means that the original example query essentially compared between

[2022-02-09 20:27] jthomerson commented on #295
Thanks! That worked.

[2022-02-22 03:52] coderpolo opened #296 "use -C throw some error"
![image](https://user-images.githubusercontent.com/25792424/155059995-7e63b46c-10dc-492c-ab8b-54021885b6f0.png)

how can i slove it?

os:ubuntu 20.04

[2022-02-22 12:06] harelba commented on #296
Hi,

Thanks for reporting this.

The error is related to the encoding of the data, either the original file or the created `qsql` file.

The default chosen `-e`  value is set according to your terminal encoding (which seems to be latin-1).

It would be great if you can provide the following information so I can analyze this:
* Can you run `file tmp` (the original text file) and send the output of

[2022-02-22 14:04] coderpolo commented on #296
Did you run the command which created the qsql file (the one using -C readwrite) from the same terminal or from another computer/terminal (perhaps with another default encoding).

yes, the file named "tmp" was generated by another computer.
Tks !

[2022-02-22 14:35] InCogNiTo124 commented on #264
@harelba Sorry for the bump, but I believe this is now fixed and could be closed

[2022-02-22 18:52] harelba commented on #296
Does running with `-e utf-8` (or whatever the encoding is on the other computer) work properly?

I probably need to be able to guard against such things, and store the db-creation encoding in the qsql file itself

[2022-02-22 19:34] harelba commented on #264
thanks @InCogNiTo124 !

[2022-02-22 19:34] #264 closed

[2022-02-22 19:34] #295 closed

[2022-02-22 19:35] harelba commented on #294
@weishengkui - Can you update whether or not this fixed your issue?

[2022-02-23 05:41] coderpolo commented on #296
the quary not worked.
![image](https://user-images.githubusercontent.com/25792424/155267136-4896a806-bdce-486e-b0cf-83421b25882d.png)
but the qsql file was auto generated.

[2022-02-23 05:43] coderpolo commented on #296
I use  **"cat tmp > tmpX "**
and run query  **"select count(*) from tmpX"**  to slove this problem...

[2022-02-23 05:59] coderpolo opened #297 "Can we support more glibc version ?"
want use cache feature on old centos 6.2 with glibc like 2.12.

I had test q(3.1.6) with glibc 2.17 on CentOS 7.8. It works fine.
so i have to scp file to the machine with  glibc 2.17 serval times a day.

[2022-03-11 13:30] cmprmsd commented on #152
Did you find a workaround or fix for this issue?

[2022-03-11 21:50] bitti commented on #152
Maybe it's considered a feature not a bug? The only workaround I currently see is to double escape the backslashes:

[code]

[2022-03-11 21:57] cmprmsd commented on #152
As such things work in ui plugins such as rainbow csv for VSCode I'd consider it a bug. But your workaround seems legit 😇
Thanks!

[2022-03-12 12:15] harelba commented on #152
Hi,

By default, q treats backslashes as escape characters for double-quotes, mainly due to the fact that there are a lot of existing data files which using data. This it what causes the disappearance of them when they are meant to be used as a regular character.

q has a flag that can disable this capability, called `--disable-escaped-double-quoting`. You can run the command with it, and it will

[2022-03-12 12:21] harelba commented on #152
@cmprmsd - A side-note regarding your comment about UI plugins supporting this - In general I would love q to be handle such cases automatically without having to add any flags. However, there's a difference between entering text in a UI (presentation), and storing it inside files (actual data).

A UI plugin knows to differentiate between text (user-entered), and between the actual data (escaping

[2022-03-12 12:26] cmprmsd commented on #152
@harelba Thank you for pointing this out! You are right. 💪 I just did not match the argument name to this behavior.
Maybe it would help to write a hint into the help function e.g.. (disables also \ escapes) 😁

Great tool, thanks a lot!

[2022-03-12 13:06] harelba commented on #152
Thanks! Really glad you find it useful.

That's a great idea, i'll add it to the help text.

[2022-03-12 13:06] #152 closed

[2022-05-23 16:15] bigpresh opened #298 "Setting default delimiter in .qrc config file?"
I may be missing something obvious but is there a way to set the default delimiter in the config?

I've tried what seems obvious:

[code]

but it explodes:

[code]

I almost always use `q` to query CSV files, and it's a bit annoying to have to tell it every time that the file uses commas as delimiters, otherwise:

[code]

[2022-05-23 16:30] harelba commented on #298
Hi,

Thanks for opening this.

Can you check which version of q you're using? It's probably an old one.

The current version is 3.1.6, and contains a fully refactored qrc mechanism.

Here are the relevant links. If things don't work with this new version, please contact me.

[Installation Page](http://harelba.github.io/q/#installation)

[Version 3.1.6 Release](https://github.com/harelba/q/releases

[2022-05-23 20:11] bigpresh commented on #298
Ahhhh.

I'd installed the most recent distro-packed version, both on a Debian box and a Ubuntu 20.04.4 LTS workstation, and both got a much older version:

[code]

Having upgraded them to a non-prehistoric version (3.1.6 from the .deb download), all is well and the config file is recognised and I don't have to supply the delimiter every time.

Thanks for the prompt response, and thanks for a rathe

[2022-05-23 20:11] #298 closed

[2022-05-27 15:32] maxigit opened #299 "Escape table name to avoid filename replacement"
I've just discover this utility and I am really impressed. It is so far the best utility I've found to play with csv.
However, there is a small improvement which I think is fairly small but will unlock many features.
As far as I understand, there is at the moment no support for subqueries.  Subqueries can be really usefull for lots of reason but I came across this problem trying to use GROUP CONCA

[2022-07-29 12:19] InCogNiTo124 opened #301 "local install fails due to setup.py"
Steps to reproduce:
[code]

The solution is line [`setup.py:L28`](https://github.com/harelba/q/blob/4c835b9fa9311f110a09e8f2cddd20367b0e49f1/setup.py#L28):

```'q = bin.q:run_standalone' -> 'q = q:run_standalone'```

[2022-07-31 11:07] harelba commented on #301
Hi, there's some kind of misalignment there with relation to the fact of whether bin is a folder or a package.

I haven't solved it completely in the last release, as I was focusing on making the q standalone executable using pyoxidizer.

Can you describe the reasons you need it? Is it for actually using q on a machine, or is it for development purposes?

Harel

[2022-07-31 20:25] InCogNiTo124 commented on #301
I was just trying alternative running options. The official ubuntu release seemed a bit outdated and I was reluctant to build my own dpkg from `master` so I tried cloning the repo and installing it locally. I don't _need_ need it, but I stil felt I should report this

msmetko

[2022-08-02 13:15] dserodio opened #302 "Feature request: replace spaces in column names with underline"
It's annoying to work with column names containing spaces because the backtick used for quoting is interpreted by the shell. It would be awesome if q was able to replace the spaces with underlines to make working with these files easier.

[2022-08-11 16:30] yasserbdj96 opened #303 "‎"
‎

[2022-08-12 11:02] harelba commented on #303
@yasserbdj96 can you please fill the content for this ticket?

[2022-08-12 11:03] harelba commented on #297
Sorry, the limitation of glibc version is related to the packaging process of q (a pyoxidizer limitation). I wanted to provide support for a lower glibc version but it's not possible with pyoxidizer.

[2022-08-12 11:05] harelba commented on #296
just for future reference - The reason is a difference between the terminal encoding and the data encoding. By default, q assumes that the file encoding is the same as the terminal encoding. If that's not the case, you'd need to use `-e <encoding>` in order to tell q the right encoding of the data.

[2022-08-12 11:05] #296 closed

[2022-08-12 11:05] #297 closed

[2022-08-12 11:41] #303 closed